// @media screen and (max-width: 390px) {
@media screen and (max-width: 743px) {

  h1 {
    font-size: 20px;
    line-height: 22px;
  }
  
  h2 {
    font-size: 18px;
    line-height: 20px;
    // letter-spacing: -0.18px;
  }
  
  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: -0.18px;
  }
  
  
  .teaserHeader {
    padding-top: 16px;
    
    .logo-header {
      width: 362px;
      height: 49px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      
    }
  }
  
  
  .teaserContent {
    justify-content: center;
    align-items: center;
    
    padding: 14px;
    width: 100%;
    min-width: 390px;
  }

  .section-subtitle {
    margin-top: 44px;
  }
  
  .section-CTA-desktop {
    display: none;
  }

  .section-CTA-mobile {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 126px;

    #scrollButton-mobile {
      display: block;
      width: fit-content;
    }

  }


  .statement {
    font-size: 35px;
    line-height: 35px;
    width: 100%;
  }
  
  .statement-position {
    margin-top: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bg-statement {
    display: block;
    position: absolute;

    position: absolute;
    aspect-ratio: 1 / 1;

    z-index: -1;
    background-image: url('./images/ui/logo-bgGlavnaya.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 780px;
    height: auto;
    // mix-blend-mode: difference;
  }

  .generatorImage {
    display: none;
  }

  .modulesImage {
    display: none;
  }

  .section-presentation {
    flex-direction: column;
    margin-top: 298px;
    gap: 0px;

    #s1 {
      width: 100%;

      p {
        width: 315px;
      }

      .modulesImage-mobile {
        display: block;
        position: relative;
        width: 600px;
        right: -10vw;
        height: 300px;
        
        background-image: url('./images/ui/modulesExamples-3.png');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
      }
    }

    #s2 {
      position: relative;
      top: 0;

      p {
        width: 300px;
      }

      .generatorImage-mobile {
        display: block;
        margin-top: 36px;
        // width: 350px;
        width: 100%;
        // right: 0;
        height: 250px;
        position: absolute;
    
        aspect-ratio: 1 / 1;
    
        z-index: -1;
        background-image: url('./images/ui/generatorExample-TOCHANGE.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .description-desktop {
    display: none;
  }

  //.generator__modules-container {
  //  display: none;
  //}

  .moduleContent {
    display: none;
  }

  .section-generator {
    margin-top: 324px;

    #s3 {
      p {
        width: 360px;
      }
    }

    .teaserGenerator-margin {

      .teaserGeneratorContainer {
        background-color: transparent;
        width: 100%;

        #reactComponentRoot {
          width: 100%;

          .generator__content{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .moduleTitle {
              user-select: none;

              .A_Icon {
                display: none;
              }
            }

            .generator__modules-container {
              order: 2;

              .generator__modules-wrap {
                display: flex;
                flex-direction: column;
                gap: 8px;
              }
            }

            .generator__sketch-wrap{
              width: 100%;

              .generator__sketch-controls {
                flex-direction: row;
                gap: 16px;
                align-items: center;
                justify-content: space-between;
      
                .description-mobile {
                  display: block;
                  p {
                    color: var(--TEXT-DIM);
                    font-family: "neue-haas-unica";
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 20px;
                    width: 250px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }

      }
    }

  }

  .section-socials {
    width: 100%;
    margin-top: 124px;
    margin-bottom: 124px;

    #s4 {
      p {
        width: 290px;
      }

      h1 {
        //width: 408px;
        width: 100%;
        max-width: 502px;
      }

      .socials {
        font-size: 29px;
        line-height: 29px;
      }
    }
  }


  .teaserFooter {
    padding: 24px 16px;

    p {
      font-size: 10px;
      line-height: 10px;
    }

    .footer-column {

      .logo-footer {
        width: 191px;
        height: 25px;
      }
    }

    .footer-infos {
      gap: 8px;
    }

  }
}

/////

@media (min-width: 744px) {

  h1 {
    font-size: 24px;
    line-height: 24px;
  }

  h2 {
    font-size: 18px;
    line-height: 20px;
    // letter-spacing: -0.18px;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: -0.18px;
  }

  .teaserHeader {
    padding-top: 20px;

    .logo-header {
      width: 541px;
      height: 73px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

    }
  }

  .teaserContent {
    justify-content: left;
    padding: 22px;
  }
  
  .section-subtitle {
    margin-top: 64px;
  }

  .section-CTA-mobile {
    display: none;
  }

  .statement {
    font-size: 24px;
    line-height: 24px;
    width: 573px;
  }

  .statement-position {
    margin-top: 200px;
  }

  .section-CTA-desktop {
    display: flex;
    flex-direction: column;
    margin-top: 194px;
    gap: 56px;

    #scrollButton {
      font-size: 16px;
      line-height: 16px;
      width: fit-content;
    }
  }

  
  .section-presentation {
    margin-top: 440px;
    flex-direction: column;
    gap: 330px;
  }

  .generatorImage-mobile, .modulesImage-mobile {
    display: none;
  }

  .generatorImage, .modulesImage {
    display: block;
  }

  .modulesImage {
    position: absolute;
    height: 430px;
    top: -250%;
    width: 600px;
    right: -5%;
  }

  .generatorImage {
    position: absolute;
    height: 304px;
    left: -35%;
    top: 280%;
  }


  .subsection {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    #st1 {  
      p {
        width: 360px;
      }
    }
    #st2 {
      position: relative;
      left: calc(50% + 44px);
      bottom: 0;

      p {
        width: 287px;
      }
    }
  }

  #s3 {
    margin-top: 200px;
  }

  .moduleContent {
    display: flex;
  }
  
  .generator__modules-container {
    display: flex;
  }
  
  .description-mobile {
    display: none;
  }
  
  .description-desktop {
    display: block;
    padding-bottom: 16px;
    width: 50%;
    height: fit-content;
    font-size: 14px;
  }

  .teaserGeneratorContainer {
    background-color: black;
    padding: 3vw;
  }

  .generator__modules-wrap {
    min-width: 700px;
  }

  .generator__sketch-controls {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
  }

  .sketch {
    //border: 1px solid grey;
    outline: 1px solid var(--BACKGROUND-MODULE);
  }

  .teaserFooter {
    padding: 32px 64px;

    .logo-footer {
      width: 370px;
      height: 48px;
    }
  }

  .section-socials {
    margin-top: 206px;
    margin-bottom: 324px;

    h1 {
      width: 502px;
    }
  }

  .socials {
    font-size: 36px;
    line-height: 100%;
  }
}

/// 

// For generator only (=> flex column with modules)

@media (min-width: 744px) and (max-width: 1279px) {

  .section-generator {
    margin-top: 112px;

    #s3 {
      p {
        width: 340px;
      }
    }

    .teaserGenerator-margin {
      height: fit-content;
      flex-direction: column;

      .teaserGeneratorContainer {
        border-radius: 40px;
        height: fit-content;

        #reactComponentRoot {
          height: fit-content;

          .generator__content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: fit-content;

            .generator__modules-container {
              order: 2;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              // flex: 1 0 0;
              align-self: stretch;
              width: 100%;
              min-width: 700px;
              height: 408px;
      
              .generator__modules-wrap {
                overflow-y: auto;
                display: flex;
      
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex: 1 0 0;
                align-self: stretch;
                min-width: 700px;
                width: 100%;
      
                /* Hide the scrollbar in Firefox */
                scrollbar-width: none;
                /* Hide the scrollbar in Internet Explorer/Edge */
                -ms-overflow-style: none;
      
                /* Hide the scrollbar in WebKit browsers (e.g., Chrome, Safari) */
                .generator__modules::-webkit-scrollbar {
                  display: none;
                }
      
                // MODULES
      
                //.O_Module {
                //  display: flex;
                //  flex-direction: column;
                //  width: 100%;
                //  border-radius: 30px;
                //  background-color: var(--BACKGROUND-MODULE-DARKER);
      
                //  .M_ModuleHeader {
                //    display: flex;
                //    flex-direction: row;
                //    justify-content: space-between;
                //    padding: 16px;
      
                //    .moduleheader_controlsleft {
                //      .moduleTitle {
                //        color: var(--TEXT-WHITE);
                //        font-size: 20px;
                //        font-family: "bc-novatica-cyr", sans-serif;
                //        font-weight: 500;
                //        font-style: normal;
                //        text-transform: uppercase;
                //        // border: none;
                //        cursor: pointer;
                //        display: flex;
                //        flex-direction: row;
                //        gap: 4px;
                //        padding: 4px 0;
                //      }
                //    }
                //  }
      
                //  .moduleContent {
                //    display: flex;
                //    flex-direction: column;
                //    // row-gap: 20px;
                //    height: 100%;
                //    width: 100%;
                //    padding: 16px;
                //    border-top: 1px solid #383838;
      
                //    .content_row {
                //      width: 100%;
                //      display: flex;
                //      flex-direction: row;
                //      column-gap: 20px;
                //    }
      
                //    .content_Column {
                //      width: 50%;
                //    }
      
                //    .M_Control {
                //      width: 100%;
                //      display: flex;
      
                //      &.row {
                //        flex-direction: row;
                //        column-gap: 16px;
                //        align-items: center;
                //      }
      
                //      &.column {
                //        flex-direction: column;
                //        row-gap: 8px;
                //      }
      
                //      .titleText {
                //        display: flex;
                //        align-items: center;
                //        color: var(--TEXT-WHITE);
                //        font-family: "neue-haas-unica";
                //        font-size: 16px;
                //        font-style: normal;
                //        font-weight: 400;
                //        line-height: 16px;
                //        letter-spacing: -0.8px;
                //        min-width: 91px;
                //      }
      
                //      .control_Title {
                //        display: flex;
                //        flex-direction: row;
                //        column-gap: 8px;
                //        align-items: center;
                //      }
                //    }
      
                //    .M_BackgroundContent {
      
                //      .BackgroundContent_WithTabs {
                //        display: flex;
                //        flex-direction: column;
                //        row-gap: 16px;
      
                //        .BackgroundContent_Tabs {
                //          display: flex;
                //          flex-direction: row;
                //          column-gap: 8px;
                //          align-items: center;
                //        }
      
                //        // .BackgroundContent_TabContent {}
                //      }
      
      
                //    }
      
                //    .M_VinylContent {
                //      display: flex;
                //      flex-direction: column;
                //      align-items: flex-start;
                //      gap: 20px;
                //      align-self: stretch;
                //    }
      
                //    .M_LinesContent {
                //      display: flex;
                //      flex-direction: row;
                //      width: 100%;
                //      column-gap: 20px;
      
                //      .content_Column {
                //        display: flex;
                //        flex-direction: column;
                //        align-items: flex-start;
                //        gap: 20px;
                //        align-self: stretch;
                //      }
                //    }
                //  }
      
                //  // .Sliders {
                //  //   width: 100%;
                //  //   display: flex;
                //  //   flex-direction: row;
                //  //   column-gap: 20px;
      
                //  //   .input {
                //  //     width: 50%;
                //  //   }
                //  // }
      
                //  .moduleContent_Background {
                //    display: flex;
                //    flex-direction: column;
                //    row-gap: 16px;
                //    height: 100%;
                //    padding: 16px;
                //    border-top: 1px solid #383838;
      
                //    .TabContent {
                //      display: flex;
                //      flex-direction: row;
                //      // align-items: center;
                //      column-gap: 12px;
      
                //    }
      
                //    .moduleContent-Left,
                //    .moduleContent-Right {
                //      display: flex;
                //      flex-direction: column;
                //      row-gap: 20px;
                //      width: 50%;
                //    }
                //  }
      
                //  .gradientColors {
                //    display: flex;
                //    flex-direction: row;
                //    column-gap: 12px;
                //    align-items: center;
                //  }
      
                //  .ModuleContentBgOnly {
                //    background-color: var(--BgModul);
                //    display: flex;
                //    flex-direction: column;
                //    row-gap: 12px;
                //    column-gap: 12px;
                //    padding: 24px;
                //    height: 100%;
                //    // width: 100%;
                //    border-radius: 0 0 40px 40px;
      
                //    .gradientControls {
                //      display: flex;
                //      flex-direction: row;
                //      column-gap: 12px;
                //    }
      
                //    .gradientColors {
                //      display: flex;
                //      flex-direction: row;
                //      column-gap: 12px;
                //    }
                //  }
      
                //  .M_BasicTypoContent {
                //    display: flex;
                //    flex-direction: column;
                //    row-gap: 20px;
                //    width: 100%;
      
                //    .BasicTypo_row {
                //      display: flex;
                //      flex-direction: row;
                //      column-gap: 8px;
      
                //      .basicTypo-title {
                //        display: flex;
                //        align-items: center;
                //        color: var(--TEXT-WHITE);
                //        font-family: "neue-haas-unica";
                //        font-size: 16px;
                //        font-style: normal;
                //        font-weight: 300;
                //        line-height: 16px;
                //        letter-spacing: -0.8px;
                //        height: 40px;
                //      }
      
                //      .module__basictypo-maintext-controls {
                //        display: flex;
                //        flex-direction: row;
                //        column-gap: 12px;
                //      }
                //    }
                //  }
      
                //  .M_AddRemoveText {
                //    display: flex;
                //    flex-direction: row;
                //    column-gap: 4px;
                //    align-items: flex-end;
                //    width: 100%;
      
                //    .inputStack {
                //      display: flex;
                //      flex-direction: column;
                //      row-gap: 8px;
                //      flex: 1 0 0;
                //    }
                //  }
                //}
              }
            }

            .generator__sketch-wrap{
              width: 100%;
              order: 1;

              display: flex;
              flex-direction: column;
              row-gap: 16px;
              align-items: center;
              justify-content: center;
            }
          }
        }

      }
    }

  }
}

/// 

@media screen and (max-width: 1280px) {
  .generator__sketch-wrap {
    //max-width: 700px;
    width: fit-content;
  }
  .sketch {
    max-width: 700px;
  }
}

@media screen and (max-width: 1024px) {
  .section-subtitle {
    position: relative;
    width: 100%;

    .subtitle, p {
      width: 345px;
    }
  }

  .backgroundLogo {
    width: 1024px;
    height: 1024px;
  }

  // #s3 {
  //   p {
  //     width: 360px;
  //   }
  // }

  .generatorImage-img {
    display: none;
  }

  .modulesImage-img {
    display: none;
  }
}



/////

@media (min-width: 1024px) {

  .section-subtitle {
    margin-top: 108px;

    p {
      width: 430px;
    }
  }

  .statement {
    font-size: 40px;
    line-height: 40px;
    width: 929px;
  }

  .section-CTA-desktop {
    margin-top: 230px;
  }

  .backgroundLogo {
    width: 100vw;
    height: 100vw;
  }

  //.section-presentation {
  //  margin-top: 50%;
  //}

  //.section-presentation {
  //  position: relative;
  //   margin-top: 50%;

  //  display: flex;
  //  width: 100%;
  //  flex-direction: row;
  //  gap: 44px;

  //  .subsection {
  //     position: relative;
  //     display: flex;
  //     flex-direction: column;
  //     width: 50%;

  //    #st1 {
  //      position: relative;
  //      width: fit-content;
  //      left: 0;
  //      top: 0;
  //       margin-bottom: 150px;
    
  //       p {
  //         width: 408px;
  //       }
  //    }

  //    #st2 {
  //      position: absolute;
  //      left: calc(50% + 44px);
  //      left: 0;
  //      top: 380px;
  //      bottom: 86px;
  //      bottom: 40%;

  //      p {
  //        width: 394px;
  //      }
  //    }
  //  }

  //  #s1 {
  //    gap:64px;
  //  }
  //  #s2 {
  //    top: -30px;
  //  }
  //}

  //.section-presentation {
  //  .subsection {
  //    #st1 { 
  //      p {
  //        width: 410px;
  //      }
  //    }
  //    #st2 { 
  //      p {
  //        width: 356px;
  //      }
  //    }
  //  }
  //}

  .section-presentation {
    position: relative;
    margin-top: 50%;

    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 44px;

    .subsection {
       position: relative;
       display: flex;
       flex-direction: column;
       width: 50%;

      #st1 {
        position: relative;
        width: fit-content;
        left: 0;
        top: 0;
         margin-bottom: 150px;
    
         p {
           width: 410px;
         }
      }

      .generatorImage, .modulesImage {
        display: none;
      }

      .generatorImage-img {
        display: block;
        position: relative;
        height: auto;
        object-fit: cover;
        width: 110%;
        left: -20%;
      }

      .modulesImage-img {
        display: block;
        position: relative;
        height: auto;
        object-fit: cover;
        width: 150%;
      }

      #st2 {
        position: absolute;
        left: calc(50% + 44px);
        left: 0;
        //top: 380px;
        top: 70%;
        bottom: 86px;
        bottom: 40%;

        p {
          width: 394px;
        }
      }
    }

    #s1 {
      gap:64px;
    }
    #s2 {
      top: -30px;
    }
  }

  #s3 {
    margin-top: 0;
  }



  .teaserFooter {
    padding: 36px;
    p {
      font-size: 16px;
      line-height: 16px;
    }

    .logo-footer {
      width: 370px;
      height: 48px;
    }
  }
}

@media (min-width: 1280px) {

  .statement-position {
    margin-top: 370px;
  }

  .section-generator {
    margin-top: 144px;
    gap: 44px;
    padding-top: 36px;

    #s3 {
      p {
        width: 453px;
      }
    }

    ////

    .teaserGenerator-margin {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .teaserGeneratorContainer {
        border-radius: 20px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex: 1 0 0;
        align-items: center;
        justify-content: center;
        padding: 1vw;

        #reactComponentRoot {
          display: flex;
          width: 100%;
          align-items: flex-start;
          flex: 1 0 0;
        }

        .generator__content {
          display: flex;
          width: 100%;
          align-items: flex-start;
          gap: 20px;
          flex: 1 0 0;

          .generator__modules-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            align-self: stretch;
            width: 55%;
            min-width: 700px;

            .generator__modules-wrap {
              overflow-y: auto;
              display: flex;

              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
              flex: 1 0 0;
              align-self: stretch;
              min-width: 700px;
              width: 100%;

              /* Hide the scrollbar in Firefox */
              scrollbar-width: none;
              /* Hide the scrollbar in Internet Explorer/Edge */
              -ms-overflow-style: none;

              /* Hide the scrollbar in WebKit browsers (e.g., Chrome, Safari) */
              .generator__modules::-webkit-scrollbar {
                display: none;
              }

              // MODULES

              //.O_Module {
              //  display: flex;
              //  flex-direction: column;
              //  width: 100%;
              //  border-radius: 30px;
              //  background-color: var(--BACKGROUND-MODULE-DARKER);

              //  .M_ModuleHeader {
              //    display: flex;
              //    flex-direction: row;
              //    justify-content: space-between;
              //    padding: 16px;

              //    .moduleheader_controlsleft {
              //      .moduleTitle {
              //        color: var(--TEXT-WHITE);
              //        font-size: 20px;
              //        font-family: "bc-novatica-cyr", sans-serif;
              //        font-weight: 500;
              //        font-style: normal;
              //        text-transform: uppercase;
              //        // border: none;
              //        cursor: pointer;
              //        display: flex;
              //        flex-direction: row;
              //        gap: 4px;
              //        padding: 4px 0;
              //      }
              //    }
              //  }

              //  .moduleContent {
              //    display: flex;
              //    flex-direction: column;
              //    // row-gap: 20px;
              //    height: 100%;
              //    width: 100%;
              //    padding: 16px;
              //    border-top: 1px solid #383838;

              //    .content_row {
              //      width: 100%;
              //      display: flex;
              //      flex-direction: row;
              //      column-gap: 20px;
              //    }

              //    .content_Column {
              //      width: 50%;
              //    }

              //    .M_Control {
              //      width: 100%;
              //      display: flex;

              //      &.row {
              //        flex-direction: row;
              //        column-gap: 16px;
              //        align-items: center;
              //      }

              //      &.column {
              //        flex-direction: column;
              //        row-gap: 8px;
              //      }

              //      .titleText {
              //        display: flex;
              //        align-items: center;
              //        color: var(--TEXT-WHITE);
              //        font-family: "neue-haas-unica";
              //        font-size: 16px;
              //        font-style: normal;
              //        font-weight: 400;
              //        line-height: 16px;
              //        letter-spacing: -0.8px;
              //        min-width: 91px;
              //      }

              //      .control_Title {
              //        display: flex;
              //        flex-direction: row;
              //        column-gap: 8px;
              //        align-items: center;
              //      }
              //    }

              //    .M_BackgroundContent {

              //      .BackgroundContent_WithTabs {
              //        display: flex;
              //        flex-direction: column;
              //        row-gap: 16px;

              //        .BackgroundContent_Tabs {
              //          display: flex;
              //          flex-direction: row;
              //          column-gap: 8px;
              //          align-items: center;
              //        }

              //        // .BackgroundContent_TabContent {}
              //      }


              //    }

              //    .M_VinylContent {
              //      display: flex;
              //      flex-direction: column;
              //      align-items: flex-start;
              //      gap: 20px;
              //      align-self: stretch;
              //    }

              //    .M_LinesContent {
              //      display: flex;
              //      flex-direction: row;
              //      width: 100%;
              //      column-gap: 20px;

              //      .content_Column {
              //        display: flex;
              //        flex-direction: column;
              //        align-items: flex-start;
              //        gap: 20px;
              //        align-self: stretch;
              //      }
              //    }
              //  }

              //  // .Sliders {
              //  //   width: 100%;
              //  //   display: flex;
              //  //   flex-direction: row;
              //  //   column-gap: 20px;

              //  //   .input {
              //  //     width: 50%;
              //  //   }
              //  // }

              //  .moduleContent_Background {
              //    display: flex;
              //    flex-direction: column;
              //    row-gap: 16px;
              //    height: 100%;
              //    padding: 16px;
              //    border-top: 1px solid #383838;

              //    .TabContent {
              //      display: flex;
              //      flex-direction: row;
              //      // align-items: center;
              //      column-gap: 12px;

              //    }

              //    .moduleContent-Left,
              //    .moduleContent-Right {
              //      display: flex;
              //      flex-direction: column;
              //      row-gap: 20px;
              //      width: 50%;
              //    }
              //  }

              //  .gradientColors {
              //    display: flex;
              //    flex-direction: row;
              //    column-gap: 12px;
              //    align-items: center;
              //  }

              //  .ModuleContentBgOnly {
              //    background-color: var(--BgModul);
              //    display: flex;
              //    flex-direction: column;
              //    row-gap: 12px;
              //    column-gap: 12px;
              //    padding: 24px;
              //    height: 100%;
              //    // width: 100%;
              //    border-radius: 0 0 40px 40px;

              //    .gradientControls {
              //      display: flex;
              //      flex-direction: row;
              //      column-gap: 12px;
              //    }

              //    .gradientColors {
              //      display: flex;
              //      flex-direction: row;
              //      column-gap: 12px;
              //    }
              //  }

              //  .M_BasicTypoContent {
              //    display: flex;
              //    flex-direction: column;
              //    row-gap: 20px;
              //    width: 100%;

              //    .BasicTypo_row {
              //      display: flex;
              //      flex-direction: row;
              //      column-gap: 8px;

              //      .basicTypo-title {
              //        display: flex;
              //        align-items: center;
              //        color: var(--TEXT-WHITE);
              //        font-family: "neue-haas-unica";
              //        font-size: 16px;
              //        font-style: normal;
              //        font-weight: 300;
              //        line-height: 16px;
              //        letter-spacing: -0.8px;
              //        height: 40px;
              //      }

              //      .module__basictypo-maintext-controls {
              //        display: flex;
              //        flex-direction: row;
              //        column-gap: 12px;
              //      }
              //    }
              //  }

              //  .M_AddRemoveText {
              //    display: flex;
              //    flex-direction: row;
              //    column-gap: 4px;
              //    align-items: flex-end;
              //    width: 100%;

              //    .inputStack {
              //      display: flex;
              //      flex-direction: column;
              //      row-gap: 8px;
              //      flex: 1 0 0;
              //    }
              //  }
              //}
            }
          }

          .generator__sketch-wrap {
            // display: flex;
            // flex-direction: column;
            // row-gap: 16px;
            // max-width: 45%;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex: 1 1 0;
            max-width: 45%;

            .sketch {
              width: 100%;
              aspect-ratio: 1;
              //height: auto;
            }

            .generator__sketch-controls {
              // display: flex;
              // flex-direction: row;
              // justify-content: space-between;

              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              align-self: stretch;
              width: 100%;
              ;

              .description {
                padding-bottom: 16px;
                width: 50%;
                height: fit-content;
                font-size: 14px;
              }
            }
          }


        }
      }
    }

  }
}

@media screen and (min-width: 1708px)  {
  //.teaserContent {
  //  //overflow-x: visible;
  //}
  .teaserContent {
    padding: 10%;
  }

  .section-presentation {
    margin-top: 800px;

    .subsection {
      .generatorImage-img {
        object-fit: contain;
        object-position: center;
        height: 565px;
        //width: 950px;
        width: 130%;
        left: -30%;
        //right: 0;
      }
      
      .modulesImage-img {
        object-fit: contain;
        object-position: top;
        width: 968px;
        height: 648px;
        right: 20%;
      }
    }
  }
}