/* Mobile Styles (max-width: 743px) */
@media screen and (max-width: 743px) {
  .first-screen {
    display: none !important;
  }

  /* Typography */
  //h1 {
  //  font-size: 20px;
  //  line-height: 22px;
  //}
  
  //h2 {
  //  font-size: 18px;
  //  line-height: 20px;
  //}
  
  //p {
  //  font-size: 18px;
  //  //font-style: normal;
  //  //font-weight: 200;
  //  line-height: 20px;
  //  letter-spacing: -0.18px;
  //}
  
  /* Header */
  .teaser-header-mobile {
    padding-top: 2%;
    
    .logo--header {
      width: 362px;
      height: 49px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  
  /* Content */
  .teaser-content {
    justify-content: center;
    align-items: center;
    padding: 0px 14px 0px 14px;
    width: 100%;
    min-width: 390px;
  }




  //.section--subtitle {
  //  margin-top: 44px;
  //  display: flex;
  //  flex-direction: column;
  //  gap: 16px;
  //}

  //.section--cta-mobile {
  //  margin-top: 64px;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  align-items: center;
  //  gap: 126px;

  //  #scrollButton {
  //    display: block;
  //    width: fit-content;
  //  }

  //  .subsection-cta {
  //    display: flex;
  //    align-items: center;
  //    flex-direction: column;
  //    justify-content: center;
  //    mix-blend-mode: difference;
  //  }
  //}

  //.statement {
  //  font-size: 35px;
  //  line-height: 35px;
  //  width: 100%;
  //}
  
  //.statement-position {
  //  //margin-top: 131px;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //}

  //#bg-statement {
  //  aspect-ratio: 1/1;
  //  background-image: url('./images/ui/logo-symbolWithName.svg');
  //  background-position: 50%;
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  display: block;
  //  height: auto;
  //  position: absolute;
  //  width: 780px;
  //  z-index: -1;
  //}
///////////
  .section-subtitle {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .section-subtitle h1 {
    font-size: 18px;
    line-height: 20px;
    position: relative;
    text-align: left;
    font-weight: 500;
  }
  
  .section-subtitle p {
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: -0.18px;
    width: 500px;
  }

  .section-CTA-mobile {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 126px;
  }
  
  .section-CTA-mobile #scrollButton-mobile {
    display: block;
    width: fit-content;
    padding: 12px 16px 12px 16px;
    align-items: center;
    border-radius: 60px;
    color: var(--TEXT-WHITE);
    text-align: center;
    font-family: "bc-novatica-cyr";
    border: 1px solid var(--WHITE);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }

  .section-CTA-mobile .subSection-CTA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
  }
  
  .section-CTA-mobile .subSection-CTA .icon {
    width: 24px;
    height: 24px;
  }

  .statement-position {
    margin-top: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .statement-position .statement {
    font-size: 35px;
    line-height: 35px;
    width: 100%;
    color: var(--TEXT-WHITE);
    font-family: "bc-novatica-cyr";
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    mix-blend-mode: difference;
  }
  
  .statement-position #bg-statement {
    display: block;
    position: absolute;
    aspect-ratio: 1 / 1;
    z-index: -1;
    background-image: url('./images/ui/logo-bgGlavnaya.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 780px;
    height: auto;
  }

  .generator-image {
    display: none;
  }

  .modules-image {
    display: none;
  }

  /* Presentation Section */

  .section--audience {
    margin-top: 298px;
    margin-bottom: 56px;
    width: 100%;
    //display: flex;
    //padding-left: 50%;

    .subsection {
      //position: relative;
      //width: 35%;
      max-width: 315px;
      //margin-left: 50%;
      //margin-left: 22px;
    }
  }

  .section--presentation {
    flex-direction: column;
    //margin-top: 298px;
    gap: 0px;

    #s2 {
      width: 100%;

      p {
        width: 315px;
      }

      .modules-image-mobile {
        display: block;
        position: relative;
        width: 600px;
        right: -10vw;
        height: 300px;
        
        background-image: url('./images/ui/modulesExamples-3.png');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
      }
    }

    #s3 {
      position: relative;
      top: 0;

      p {
        width: 300px;
      }

      .generator-image-mobile {
        display: block;
        margin-top: 36px;
        width: 100%;
        height: 250px;
        position: absolute;
        aspect-ratio: 1 / 1;
        z-index: -1;
        background-image: url('./images/ui/generatorExampleOk.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .description-desktop {
    display: none;
  }

  .module__content {
    display: none;
  }

  /* Generator Section */
  .section--generator {

    margin-top: 324px;

    #s4 {
      p {
        width: 360px;
      }
    }

    .teaser-generator-margin {
      .teaser-generator-container {
        background-color: transparent;
        width: 100%;

        #reactComponentRoot {
          width: 100%;

          .generator__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .module-title {
              user-select: none;

              .icon {
                display: none;
              }
            }

            .generator__modules-container {
              order: 2;

              .generator__modules-wrap {
                display: flex;
                flex-direction: column;
                gap: 8px;
              }
            }

            .generator__sketch-wrap {
              width: 100%;

              .generator__sketch-controls {
                flex-direction: row;
                gap: 16px;
                align-items: center;
                justify-content: space-between;
      
                .description-mobile {
                  display: block;
                  p {
                    color: var(--TEXT-DIM);
                    font-family: "neue-haas-unica", sans-serif;
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 20px;
                    width: 250px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .section--objectives {
    margin-top: 124px;
    width: 100%;

    p {
      max-width: 500px;
    }
  }

  /* Social Section */
  .section--socials {
    width: 100%;
    margin-top: 56px;
    margin-bottom: 124px;

    #s6 {
      p {
        width: 290px;
      }

      h2 {
        width: 100%;
        max-width: 502px;
      }

      .socials {
        font-size: 29px;
        line-height: 29px;
      }
    }
  }

  /* Footer */
  .teaser-footer {
    padding: 24px 16px;

    p {
      font-size: 10px;
      line-height: 10px;
    }

    &__column {
      .logo--footer {
        width: 191px;
        height: 25px;
      }
    }

    &__infos {
      gap: 8px;
    }
  }
}

/* Tablet Styles (min-width: 744px) */
@media (min-width: 744px) {
  .first-screen-mobile, .teaser-header-mobile {
    display: none !important;
  }

  /* Typography */
  h1 {
    font-size: 24px;
    line-height: 24px;
  }

  h2 {
    font-size: 18px;
    line-height: 20px;
  }

  p {
    font-family: "neue-haas-unica",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: -0.18px;
  }

  /* Header */
  .teaser-header {
    //padding-top: 20px;

    .logo--header {
      width: 541px;
      height: 73px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  /* Content */
  .teaser-content {
    //justify-content: left;
    padding: 0px 22px 0px 22px;
  }
  
  //.section--subtitle {
  //  margin-top: 64px;
  //}

  .section--cta-mobile {
    display: none;
  }

  .statement {
    font-size: 24px;
    line-height: 24px;
    width: 573px;
  }

  //.statement-position {
  //  margin-top: 200px;
  //}

  .section--cta-desktop {
    display: flex;
    //flex-direction: column;
    flex-direction: row;
    //margin-top: 194px;
    //gap: 56px;
    justify-content: space-between;

    #scrollButton {
      font-size: 16px;
      line-height: 16px;
      width: fit-content;
    }
  }

  /* Presentation Section */

  .section--audience {
    margin-top: 500px;
    margin-bottom: 44px;
    display: flex;
    padding-left: 50%;

    .subsection {
      //position: relative;
      //width: 35%;
      width: fit-content;
      //margin-left: 50%;
      margin-left: 22px;

      p {
        max-width: 360px;
      }
    }
  }

  .section--presentation {
    //margin-top: 440px;
    flex-direction: column;
    gap: 330px;

    .subsection {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
  
      #st1 {
        p {
          width: 360px;
        }
      }
  
      #st2 {  
        p {
          width: 360px;
        }
      }
      
      #st3 {
        position: relative;
        left: calc(50% + 44px);
        bottom: 0;
  
        p {
          width: 287px;
        }
      }
    }
  }

  .generator-image-mobile, .modules-image-mobile {
    display: none;
  }

  .generator-image, .modules-image {
    display: block;
  }

  .modules-image {
    position: absolute;
    height: 430px;
    top: -250%;
    width: 600px;
    right: -5%;
  }

  .generator-image {
    position: absolute;
    height: 304px;
    left: -35%;
    top: 280%;
  }

  //.subsection {
  //  position: relative;
  //  display: flex;
  //  flex-direction: column;
  //  width: 100%;

  //  #st1 {
  //    p {
  //      width: 360px;
  //    }
  //  }

  //  #st2 {  
  //    p {
  //      width: 360px;
  //    }
  //  }
    
  //  #st3 {
  //    position: relative;
  //    left: calc(50% + 44px);
  //    bottom: 0;

  //    p {
  //      width: 287px;
  //    }
  //  }
  //}

  #s4 {
    margin-top: 200px;
  }

  .module__content {
    display: flex;
  }
  
  .generator__modules-container {
    display: flex;
  }
  
  .description-mobile {
    display: none;
  }
  
  .description-desktop {
    display: block;
    padding-bottom: 16px;
    width: 50%;
    height: fit-content;
    font-size: 14px;
  }

  .teaser-generator-container {
    background-color: black;
    padding: 3vw;
  }

  .generator__modules-wrap {
    min-width: 700px;
  }

  .generator__sketch-controls {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
  }

  /* Canvas/Sketch */
  .sketch {
    display: block; /* Ensures the canvas doesn't have extra space */
    margin: 0 auto; /* Centers the canvas */
    width: 100%; /* Fill container width */
    height: auto; /* Maintain aspect ratio */
    box-sizing: border-box; /* Include border in element size */
    border: 1px solid var(--BACKGROUND-MODULE);
  }
  
  .sketch canvas {
    display: block !important; /* Override any inline styles */
    margin: 0 !important; /* Remove any margin */
    padding: 0 !important; /* Remove any padding */
    width: 100% !important; /* Fill container */
    height: 100% !important; /* Fill container */
  }

  .section--objectives {
    padding-left: 50%;
    margin-top: 144px;

    .subsection {
      //width: fit-content;
      //width: 100%;
      margin-left: 22px;

      p {
        max-width: 360px;
      }

      //#st5 {
      //  p {
      //    width: 460px;
      //  }
      //}
    }
  }

  /* Footer */
  .teaser-footer {
    padding: 32px 64px;

    .logo--footer {
      width: 370px;
      height: 48px;
    }
  }

  /* Social Section */
  .section--socials {
    margin-top: 206px;
    margin-bottom: 324px;

    h2 {
      width: 390px;
    }
  }

  .socials {
    font-size: 36px;
    line-height: 100%;
  }
}

/* Medium Tablet Styles (min-width: 744px and max-width: 1279px) */
//@media (min-width: 744px) and (max-width: 1279px) {
//@media (min-width: 744px) and (max-width: 1023px) {
@media (min-width: 744px) and (max-width: 1050px) {
  .section--generator {
    margin-top: 112px;

    #s4 {
      p {
        width: 340px;
      }
    }

    .teaser-generator-margin {
      height: fit-content;
      flex-direction: column;

      .teaser-generator-container {
        border-radius: 40px;
        height: fit-content;

        #reactComponentRoot {
          height: fit-content;

          .generator__content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: fit-content;

            .generator__modules-container {
              order: 2;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              width: 100%;
              min-width: 700px;
              height: 408px;
      
              .generator__modules-wrap {
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex: 1 0 0;
                align-self: stretch;
                min-width: 700px;
                width: 100%;
      
                /* Hide scrollbars */
                scrollbar-width: none;
                -ms-overflow-style: none;
                
                &::-webkit-scrollbar {
                  display: none;
                }
              }
            }

            .generator__sketch-wrap {
              width: 100%;
              order: 1;
              display: flex;
              flex-direction: column;
              row-gap: 16px;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

/* Tablet Portrait Styles (max-width: 1024px) */
@media screen and (max-width: 1024px) {
//@media screen and (max-width: 1050px) {
  .section--subtitle {
    position: relative;
    width: 100%;

    .subtitle, p {
      width: 345px;
    }
  }

  .background-logo {
    width: 1024px;
    height: 1024px;
  }

  .generator-image-img, 
  .modules-image-img {
    display: none;
  }
}

/* Small Desktop Styles (max-width: 1280px) */
@media screen and (max-width: 1280px) {
  .generator__sketch-wrap {
    width: fit-content;
  }
  
  .sketch {
    max-width: 700px;
  }
}

/* Desktop Styles (min-width: 1024px) */
@media (min-width: 1024px) {
//@media (min-width: 1050px) {
  .section--subtitle {
    //margin-top: 108px;

    p {
      width: 430px;
    }
  }

  .statement {
    font-size: 40px;
    line-height: 40px;
    width: 929px;
  }

  //.section--cta-desktop {
  //  //margin-top: 230px;
  //  margin-top: 50px;
  //}

  .background-logo {
    width: 100vw;
    height: 100vw;
  }

  .section--audience {
    margin-top: 50%;
    //margin-bottom: 100px;
    //display: flex;
    //padding-left: 50%;

    .subsection {
      //position: relative;
      //width: 35%;
      width: fit-content;
      //margin-left: 50%;
      margin-left: 22px;

      #st1 {

        p {
          width: 410px;
        }
      }
    }
  }

  .section--presentation {
    position: relative;
    //margin-top: 50%;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 44px;

    .subsection {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 50%;

      #st2 {
        position: relative;
        width: fit-content;
        left: 0;
        top: 0;
        margin-bottom: 150px;
    
        p {
          width: 410px;
        }
      }

      .generator-image, .modules-image {
        display: none;
      }

      .generator-image-img {
        display: block;
        position: relative;
        height: auto;
        object-fit: cover;
        width: 110%;
        left: -20%;
      }

      .modules-image-img {
        display: block;
        position: relative;
        height: auto;
        object-fit: cover;
        width: 150%;
      }

      #st3 {
        position: absolute;
        left: 0;
        top: 70%;
        bottom: 40%;

        p {
          width: 394px;
        }
      }
    }

    #s2 {
      gap: 64px;
    }
    
    #s3 {
      top: -30px;
    }
  }

  #s4 {
    margin-top: 0;
  }

  //.section--generator {
  //  margin-top: 144px;
  //  gap: 44px;
  //  padding-top: 36px;

  //  #s4 {
  //    p {
  //      width: 453px;
  //    }
  //  }

  //  .teaser-generator-margin {
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    width: 100%;

  //    .teaser-generator-container {
  //      border-radius: 20px;
  //      position: relative;
  //      width: 100%;
  //      display: flex;
  //      align-items: flex-start;
  //      flex: 1 0 0;
  //      align-items: center;
  //      justify-content: center;
  //      padding: 1vw;

  //      #reactComponentRoot {
  //        display: flex;
  //        width: 100%;
  //        align-items: flex-start;
  //        flex: 1 0 0;
  //      }

  //      .generator__content {
  //        display: flex;
  //        width: 100%;
  //        align-items: flex-start;
  //        gap: 20px;
  //        flex: 1 0 0;

  //        .generator__modules-container {
  //          display: flex;
  //          flex-direction: column;
  //          align-items: flex-start;
  //          flex: 1 0 0;
  //          align-self: stretch;
  //          width: 55%;
  //          min-width: 700px;

  //          .generator__modules-wrap {
  //            overflow-y: auto;
  //            display: flex;
  //            flex-direction: column;
  //            align-items: flex-start;
  //            gap: 8px;
  //            flex: 1 0 0;
  //            align-self: stretch;
  //            min-width: 700px;
  //            width: 100%;

  //            /* Hide scrollbars */
  //            scrollbar-width: none;
  //            -ms-overflow-style: none;
              
  //            &::-webkit-scrollbar {
  //              display: none;
  //            }
  //          }
  //        }

  //        .generator__sketch-wrap {
  //          display: flex;
  //          flex-direction: column;
  //          align-items: flex-start;
  //          gap: 16px;
  //          flex: 1 1 0;
  //          max-width: 45%;

  //          .sketch {
  //            width: 100%;
  //            aspect-ratio: 1;
  //          }

  //          .generator__sketch-controls {
  //            display: flex;
  //            justify-content: space-between;
  //            align-items: flex-start;
  //            align-self: stretch;
  //            width: 100%;

  //            .description {
  //              padding-bottom: 16px;
  //              width: 50%;
  //              height: fit-content;
  //              font-size: 14px;
  //            }
  //          }
  //        }
  //      }
  //    }
  //  }
  //}

  .section--objectives {

    .subsection {
      width: fit-content;
      width: 100%;

      #st5 {
        p {
          width: 460px;
        }
      }
    }
  }

  .section--socials {
    margin-top: 88px;
  }

  .teaser-footer {
    padding: 36px;
    
    p {
      font-size: 16px;
      line-height: 16px;
    }

    .logo--footer {
      width: 370px;
      height: 48px;
    }
  }
}

@media (min-width: 1050px) {
  .section--generator {
    margin-top: 144px;
    gap: 44px;
    padding-top: 36px;

    #s4 {
      p {
        width: 453px;
      }
    }

    .teaser-generator-margin {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .teaser-generator-container {
        border-radius: 20px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex: 1 0 0;
        align-items: center;
        justify-content: center;
        padding: 1vw;

        #reactComponentRoot {
          display: flex;
          width: 100%;
          align-items: flex-start;
          flex: 1 0 0;
        }

        .generator__content {
          display: flex;
          width: 100%;
          align-items: flex-start;
          gap: 20px;
          flex: 1 0 0;

          .generator__modules-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            align-self: stretch;
            width: 55%;
            min-width: 700px;

            .generator__modules-wrap {
              overflow-y: auto;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
              flex: 1 0 0;
              align-self: stretch;
              min-width: 700px;
              width: 100%;

              /* Hide scrollbars */
              scrollbar-width: none;
              -ms-overflow-style: none;
              
              &::-webkit-scrollbar {
                display: none;
              }
            }
          }

          .generator__sketch-wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex: 1 1 0;
            max-width: 45%;

            .sketch {
              width: 100%;
              aspect-ratio: 1;
            }

            .generator__sketch-controls {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              align-self: stretch;
              width: 100%;

              .description {
                padding-bottom: 16px;
                width: 50%;
                height: fit-content;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

/* Large Desktop Styles (min-width: 1280px) */
//@media (min-width: 1280px) {
//  //.statement-position {
//  //  //margin-top: 370px;
//  //  margin-top: 135px;
//  //}

//  .section--generator {
//    margin-top: 144px;
//    gap: 44px;
//    padding-top: 36px;

//    #s4 {
//      p {
//        width: 453px;
//      }
//    }

//    .teaser-generator-margin {
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      width: 100%;

//      .teaser-generator-container {
//        border-radius: 20px;
//        position: relative;
//        width: 100%;
//        display: flex;
//        align-items: flex-start;
//        flex: 1 0 0;
//        align-items: center;
//        justify-content: center;
//        padding: 1vw;

//        #reactComponentRoot {
//          display: flex;
//          width: 100%;
//          align-items: flex-start;
//          flex: 1 0 0;
//        }

//        .generator__content {
//          display: flex;
//          width: 100%;
//          align-items: flex-start;
//          gap: 20px;
//          flex: 1 0 0;

//          .generator__modules-container {
//            display: flex;
//            flex-direction: column;
//            align-items: flex-start;
//            flex: 1 0 0;
//            align-self: stretch;
//            width: 55%;
//            min-width: 700px;

//            .generator__modules-wrap {
//              overflow-y: auto;
//              display: flex;
//              flex-direction: column;
//              align-items: flex-start;
//              gap: 8px;
//              flex: 1 0 0;
//              align-self: stretch;
//              min-width: 700px;
//              width: 100%;

//              /* Hide scrollbars */
//              scrollbar-width: none;
//              -ms-overflow-style: none;
              
//              &::-webkit-scrollbar {
//                display: none;
//              }
//            }
//          }

//          .generator__sketch-wrap {
//            display: flex;
//            flex-direction: column;
//            align-items: flex-start;
//            gap: 16px;
//            flex: 1 1 0;
//            max-width: 45%;

//            .sketch {
//              width: 100%;
//              aspect-ratio: 1;
//            }

//            .generator__sketch-controls {
//              display: flex;
//              justify-content: space-between;
//              align-items: flex-start;
//              align-self: stretch;
//              width: 100%;

//              .description {
//                padding-bottom: 16px;
//                width: 50%;
//                height: fit-content;
//                font-size: 14px;
//              }
//            }
//          }
//        }
//      }
//    }
//  }
//}

/* Extra Large Desktop Styles (min-width: 1708px) */
@media screen and (min-width: 1708px) {
  .teaser-content {
    //padding: 10%;
    padding: 0px 10% 0px 10%;
  }

  .section--audience {
    margin-top: 800px;
  }

  .section--presentation {
    //margin-top: 800px;

    .subsection {
      .generator-image-img {
        object-fit: contain;
        object-position: center;
        height: 565px;
        width: 130%;
        left: -30%;
      }
      
      .modules-image-img {
        object-fit: contain;
        object-position: top;
        width: 968px;
        height: 648px;
        right: 20%;
      }
    }
  }
}