* {
  box-sizing: border-box;
}

body {
  background: var(--BACKGROUND-WEBSITE-BLACK);
}

a {
  text-decoration: none;  /* Remove underline */
  color: inherit;         /* Inherit color from parent element */
  background: none;       /* Remove background */
  border: none;           /* Remove border */
  outline: none;          /* Remove outline */
  cursor: pointer;        /* Set cursor to pointer for usability */
}

h1, h2, h3 {
  font-family: "bc-novatica-cyr", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: var(--TEXT-WHITE);
}

p {
  font-family: "neue-haas-unica";
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  color: var(--TEXT-WHITE);
}




//LAYOUT

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.bottom {
  margin-bottom: 24px;
}

.align-bottom {
  align-items: flex-end;
}



//for working on basictypo layout
.generator__modules-wrap {
  min-width: 700px;
}