* {
  box-sizing: border-box;
}

body {
  font-family: "Neue Haas Unica", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
}

h1 {
  font-family: bc-novatica-cyr, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 42px;
  align-items: center;
  text-align: center;
  font-family: bc-novatica-cyr, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-family: neue-haas-unica;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.bottom {
  margin-bottom: 24px;
}

.align-bottom {
  align-items: flex-end;
}

.header {
  width: 100%;

  font-family: bc-novatica-cyr, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
  text-align: center;
  align-items: center;

  .menuButtonActivePage {
    color: var(--white);
    text-decoration: none;
    cursor: default;
    user-select: none;
  }

  .menuButton {
    color: var(--BgModul);
    text-decoration: none;
    cursor: hand;
    user-select: none;
  }
}

.Content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 24px;
}

///////////////// BUTTONS


.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
  // font-family: "bc-novatica-cyr", sans-serif;
  font-family: neue-haas-unica, sans-serif;
  // text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.6px;
  color: var(--TEXT-NOTSELECTED);
}

.input__entry {
  flex-grow: 1;
  // width: 100%;
  background-color: var(--BACKGROUND-WEBSITE-BLACK);
  color: var(--TEXT-WHITE);
  border: none;
  border-radius: 20px;
  padding: 8px 20px 9px;
  font-size: 20px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.input__entry:focus-visible {
  outline: none;
}

textarea {
  resize: none;
}

.textarea {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  column-gap: 12px;
  // font-family: "bc-novatica-cyr", sans-serif;
  font-family: neue-haas-unica, sans-serif;
  // text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.6px;
  color: var(--TEXT-NOTSELECTED);
}

.textarea__entry {
  flex-grow: 1;
  width: 100%;
  background-color: var(--BACKGROUND-WEBSITE-BLACK);
  color: var(--TEXT-WHITE);
  border: none;
  border-radius: 20px;
  padding: 8px 20px 9px;
  font-size: 20px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.textarea__entry:focus-visible {
  outline: none;
}

// codepen

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  vertical-align: middle;
  width: 100%;
  height: .15rem;
  background: var(--GREY);
  border-radius: 20px;
}

::-moz-range-track {
  background: transparent;
  border: 0
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  border: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--GREY);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  border: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--GREY);
}

input[type="range"]::-ms-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  border: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--GREY);
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--WHITE);
}
input[type="range"]::-moz-range-thumb:hover {
  background-color: var(--WHITE);
}
input[type="range"]::-ms-thumb:hover {
  background-color: var(--WHITE);
}

.slider {
  width: 100%;
}