* {
  box-sizing: border-box;
}

body {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
}

h2 {
  font-size: 42px;
  align-items: center;
  text-align: center;
  font-family: bc-novatica-cyr, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.header {
  width: 100%;

  font-family: bc-novatica-cyr, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
  text-align: center;
  align-items: center;

  .menuButtonActivePage {
    color: var(--white);
    text-decoration: none;
    cursor: default;
  }

  .menuButton {
    color: var(--BgModul);
    text-decoration: none;
    cursor: hand;
  }
}

.Content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 24px;
}

.txtInput:focus-visible {
  outline: none;
}

.ButtonPrimary {
  background: var(--white);
  color: black;
  cursor: pointer;
  padding: 10px 14px;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.05em;
  font-size: 16px;
  width: fit-content;
  border-radius: 36px;
}

.Button {
  background-color: var(--secondary);
  color: var(--white);
  padding: 8px 14px;
  width: fit-content;
  border-radius: 40px;
}

.Button:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #222222;
  color: white;
  font-family: neue-haas-unica;
  font-size: 16px;
  width: 295px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  text-align: left;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--secondary);
  border-radius: 0 0 20px 20px;
  width: 295px;
  padding: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.dropdown-item {
  color: #B3B3B3;
  font-family: neue-haas-unica;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #222222;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #333333;
}

.dropdown-item+.dropdown-item {
  border-top: 1px solid #2C2C2C;
}

.dropdown-toggle .dropdown-icon {
  float: right;
  margin-left: 8px;
}

.dropdown-toggle.open {
  border-radius: 20px 20px 0 0;
  /* Only top corners are rounded when open */
}
