
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
  // font-family: "bc-novatica-cyr", sans-serif;
  font-family: neue-haas-unica, sans-serif;
  // text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.6px;
  color: var(--TEXT-NOTSELECTED);
}

.input__entry {
  flex-grow: 1;
  // width: 100%;
  background-color: var(--BACKGROUND-WEBSITE-BLACK);
  color: var(--TEXT-WHITE);
  border: none;
  border-radius: 20px;
  padding: 8px 20px 9px;
  font-size: 20px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.input__entry:focus-visible {
  outline: none;
}

textarea {
  resize: none;
}

.textarea {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  column-gap: 12px;
  // font-family: "bc-novatica-cyr", sans-serif;
  font-family: neue-haas-unica, sans-serif;
  // text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.6px;
  color: var(--TEXT-NOTSELECTED);
}

.textarea__entry {
  flex-grow: 1;
  width: 100%;
  background-color: var(--BACKGROUND-WEBSITE-BLACK);
  color: var(--TEXT-WHITE);
  border: none;
  border-radius: 20px;
  padding: 8px 20px 9px;
  font-size: 20px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.textarea__entry:focus-visible {
  outline: none;
}

// codepen

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  vertical-align: middle;
  width: 100%;
  height: .15rem;
  background: var(--GREY);
  border-radius: 20px;
}

::-moz-range-track {
  background: transparent;
  border: 0
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  border: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--GREY);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  border: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--GREY);
}

input[type="range"]::-ms-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  border: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--GREY);
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--WHITE);
}
input[type="range"]::-moz-range-thumb:hover {
  background-color: var(--WHITE);
}
input[type="range"]::-ms-thumb:hover {
  background-color: var(--WHITE);
}

.slider {
  width: 100%;
}

.A_NumberInput {
  background-color: var(--BACKGROUND-BTN-SECONDARY);
  color: var(--TEXT-WHITE);
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border: none;
  font-family: "bc-novatica-cyr";
  font-size: 16px;
  line-height: 16px;
}




//A_Button
//A_Button_Icon
//A_Button_Icon--filled

.A_Icon {
  width: 24px;
  height: 24px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.angleUp {
   background-image: url('images/ui/icons/AngleUp.svg');
}

.angleDown {
   background-image: url('images/ui/icons/AngleDown.svg');
}

.Dice {
   background-image: url('images/ui/icons/Dice.svg');
}

.locked {
   background-image: url('images/ui/icons/LockClosed.svg');
}

.unLocked {
   background-image: url('images/ui/icons/LockOpen.svg');
}

.download {
  background-image: url('images/ui/icons/Download.svg');
  // mask-image: url('images/ui/icons/Download.svg');
  // -webkit-mask-image: url('images/ui/icons/Download.svg');
}

.minus {
  background-image: url('images/ui/icons/Minus.svg');
}

.plus {
  background-image: url('images/ui/icons/Plus.svg');
}

.Radial {
  background-image: url('images/ui/icons/Radial.svg');
}

.Linear {
  background-image: url('images/ui/icons/DoubleArrow.svg');
}

.Rotate {
  background-image: url('images/ui/icons/Rotate.svg');
}

.upload-button-container {
  width: 100px;
  height: 100px;
  background-color: #1D1D1D;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.upload-button-container:hover {
  background-color: #2A2A2A;
}

.upload-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.upload-icon {
  width: 24px;
  height: 24px;
  background-image: url('./images/ui/icons/Upload.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

.upload-text {
  color: #838383;
  font-family: "neue-haas-unica";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

// .btn {
//   cursor: pointer;
// }

// .btn--icon-only {
//   display: inline-flex;
//   padding: 4px;
//   justify-content: center; 
//   align-items: center;
// }

// .btn--primary {
//   background-color: transparent;
//   color: ar(--TEXT-WHITE);
// }

// .btn--icon-transparent {
//   background-color: var(--BACKGROUND-BTN-SECONDARY);
//   color: var(--TEXT-WHITE);
// }

.btn--big {
  display: inline-flex;
  padding: 16px 20px;
  align-items: center;
  border-radius: 38.285px;
  border: 1px solid var(--WHITE);
  color: var(--TEXT-WHITE);
  text-align: center;
  font-family: "bc-novatica-cyr";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  // line-height: 32px;
  height: 55px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--TEXT-BLACK);
    background-color: var(--BACKGROUND-BTN-PRIMARY);
    cursor: pointer;
  }
}

.A_Button--primary {
  background: var(--BACKGROUND-BTN-PRIMARY);
  color: var(--TEXT-BLACK);
  display: flex;
  padding: 4px 14px 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 40px;
  border: none;
  background: var(--White, #F6F6F6);
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.05em;
  font-size: 16px;
  height: fit-content;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  user-select: none;

  &:hover {
    // border: 2px solid var(--WHITE);
    // box-shadow: ;
    // background-color: grey;
    transform: scale(1.02);
    //box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.15);
  }

  &:active {
    transform: scale(1);
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #d0d0d0;
  }
}

.btn--secondary {
  background-color: var(--BACKGROUND-BTN-SECONDARY);
  color: var(--TEXT-WHITE);
  padding: 8px 14px;
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;
}

///////

.A_Button_Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  height: fit-content;
}

.filled {
  background-color: var(--BACKGROUND-BTN-SECONDARY);
}

.transparent {
  background-color: transparent;
}

.normal {
  padding: 4px;
  border-radius: 16px;
}

.large {
  padding: 16px;
  border-radius: 50px;
}

.A_Button_Icon:hover {
  background-color: var(--WHITE);
}

.A_Button_Icon:hover .A_Icon {
  filter: invert(1);
}

.toggleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  height: fit-content;
  padding: 4px;
  background-color: transparent;
  border-radius: 5px;

  &.active {
    background-color: var(--BACKGROUND-BTN-SELECTED);
  }
}

.M_ToggleIconSet {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px;
  border-radius: 10px;
  background-color: var(--BACKGROUND-BTN-SECONDARY);
}

//////

.A_ColorPickerButton {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  // justify-content: center;
  align-items: center;
  //min-width: 80px;
  align-items: center;
  font-size: 16px;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

//////

.TabButtonSet {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
}

.TabButton {
  display: inline-flex;
  //WTF
  padding: 11px 16px 13px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #838383;
  text-align: center;
  font-family: "neue-haas-unica";
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  // line-height: normal;
  letter-spacing: -0.8px;
  // height: fit-content;
  user-select: none;

  &:hover:not(.active) {
    color: var(--TEXT-WHITE);
    // background-color: var(--BACKGROUND-BTN-HOVER);
    background-color: #1D1D1D;
    cursor: pointer;
  }

  &.active {
    // background: #1D1D1D;
    background: #353537;
    ;
    color: var(--WHITE);
    cursor: default;
  }
}

.TabImageSet {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.TabImage {
  position: relative;
  display: flex;
  //width: 140px;
  //height: 140px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: clip;

  flex: 1;
  aspect-ratio: 1;

  .TabImage--background {
    // width: 100%;
    // height: 100%;
    //width: 140px;
    //height: 140px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .TabImage--text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background: rgba(204, 204, 204, 0.1);
    backdrop-filter: blur(6px);
    width: fit-content;
    height: fit-content;

    color: var(--WHITE);
    text-align: center;
    font-family: "bc-novatica-cyr";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
  }

  &:hover:not(.active) {
    .TabImage--text {
      background: rgba(26, 26, 26, 0.9);
    }

    cursor: pointer;
  }

  &.active {
    border: 1px solid white;

    .TabImage--text {
      color: black;
      background-color: var(--WHITE);
    }
  }
}

//////

.M_DropDown {
  position: relative;
  height: fit-content;

  .dropDownButton {
    display: inline-flex;
    padding: 8px 12px 10px 12px;
    align-items: center;
    gap: 8px;
    background-color: #1D1D1D;
    color: var(--TEXT-WHITE);
    font-family: "neue-haas-unica";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    cursor: pointer;
    border-radius: 20px;
    user-select: none;
    //for basictypo
    min-width: 104px;

    &:hover {
      // background-color: var(--BACKGROUND-BTN-SECONDARY);
      //background-color: #1D1D1D;
      background-color: #353537;
    }

    &.active {
      background-color: #353537;
    }
  }

  .dropDownPopover {
    // position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    background-color: #353537;
    padding: 12px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.18);

    //.dropDown-item {
    //  //padding: 12px;
    //}
  }
}

//// SELECT !!

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 180px;
  font-family: 'neue-haas-unica';
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

// DROP DOWN

.dropdown-toggle {
  color: var(--TEXT-WHITE);
  display: inline-flex;
  justify-content: space-between;
   background-color: var(--BACKGROUND-BTN-SECONDARY);
  // width: fit-content;
  //width: 180px;
  width: 100%;
  //min-width: 180px;
  padding: 8px 12px 10px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.dropdown-menu {
  color: #d0d0d0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--BACKGROUND-BTN-SECONDARY);
  border-radius: 0 0 20px 20px;
  //width: 180px;
  width: 100%;
  // padding: 1px;
  //font-family: neue-haas-unica;
  //font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .selectedItem {
    background-color: #262626;
    color: var(--TEXT-WHITE);
  }
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;

  .M_Control {
    .titleText {
      max-width: 54px;
    }
  }
}

.dropdown-item:hover {
  background-color: var(--BACKGROUND-BTN-HOVER);
  color: var(--TEXT-WHITE);
}

.dropdown-item+.dropdown-item {
  border-top: 1px solid #2C2C2C;
}

.dropdown-toggle.open {
  border-radius: 20px 20px 0 0;
  /* Only top corners are rounded when open */
}