@import url("https://use.typekit.net/zdq8cvv.css");

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Luxurious+Script&family=Mea+Culpa&family=Pinyon+Script&display=swap');

// font-family: "neue-haas-unica", "bc-novatica-cyr", sans-serif;

// Neue Haas Unica W1G Light
// font-family: "neue-haas-unica",
// sans-serif;
// font-weight: 300;
// font-style: normal;

// Neue Haas Unica W1G Light Italic
// font-family: "neue-haas-unica",
// sans-serif;
// font-weight: 300;
// font-style: italic;

// Neue Haas Unica W1G Regular
// font-family: "neue-haas-unica",
// sans-serif;
// font-weight: 400;
// font-style: normal;

// Neue Haas Unica W1G Italic
// font-family: "neue-haas-unica",
// sans-serif;
// font-weight: 400;
// font-style: italic;

// Neue Haas Unica W1G Medium
// font-family: "neue-haas-unica",
// sans-serif;
// font-weight: 500;
// font-style: normal;

// Neue Haas Unica W1G Medium Italic
// font-family: "neue-haas-unica",
// sans-serif;
// font-weight: 500;
// font-style: italic;

// Neue Haas Unica W1G Bold
// font-family: "neue-haas-unica",
// sans-serif;
// font-weight: 600;
// font-style: normal;

// Neue Haas Unica W1G Bold Italic
// font-family: "neue-haas-unica",
// sans-serif;
// font-weight: 600;
// font-style: italic;

@font-face {
  font-family: "", cursive;
   src: url('fonts/ADC-Semi-Bold.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "mint", cursive;
   src: url('fonts/MintSansRegular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "liberation", cursive;
   src: url('fonts/LiberationSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mea Culpa", cursive;
   src: url('fonts/MeaCulpa-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Luxurious Script", cursive;
   src: url('fonts/LuxuriousScript-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pinyon Script", cursive;
   src: url('fonts/PinyonScript-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Italianno", cursive;
   src: url('fonts/Italianno-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}


//@font-face {
//  font-family: 'esenin-script-one';
//  src: url('fonts/esenin-script-one.ttf') format('ttf');
//  // font-weight: 400;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'Acosta';
//  src: url('fonts/Acosta.otf') format('otf');
//  // font-weight: 400;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'wonky';
//  src: url('fonts/wonky.otf') format('otf');
//  // font-weight: 400;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'Bolgarus';
//  src: url('fonts/Bolgarus.otf') format('otf');
//  // font-weight: 400;
//  // font-style: normal;
//}

//@font-face {
//  font-family: 'YUNGA-Display';
//  src: url('fonts/YUNGA-Display.otf') format('otf');
//  // font-weight: 400;
//  // font-style: normal;
//}

//@font-face {
//  font-family: 'typekini';
//  src: url('fonts/typekini.ttf') format('ttf');
//  // font-weight: 400;
//  // font-style: normal;
//}

//@font-face {
//  font-family: 'AUSRINE';
//  src: url('fonts/AUSRINE.ttf') format('ttf');
//  // font-weight: 400;
//  // font-style: normal;
//}

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 300;
  // font-style: normal;

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 300;
  // font-style: italic;

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 400;
  // font-style: normal;

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 400;
  // font-style: italic;

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 500;
  // font-style: normal;

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 500;
  // font-style: italic;

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 600;
  // font-style: normal;

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 600;
  // font-style: italic;

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 700;
  // font-style: normal;

  // font-family: bc-novatica-cyr, sans-serif;
  // font-weight: 700;
  // font-style: italic;