body.page {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  & > div,
  & > a {
    margin: 10px 0;
  }

  .header {
    color: var(--white);
  }
}

.GeneratorContainer{
  display: flex;
  flex-direction: row;

  .wrapModules {
    display: flex;
    flex-direction: column;
    // column-gap: 20px;
    row-gap: 20px;
    height: 80vh;
    // flex-grow: 1;
    overflow-y: scroll;
    
  }


  .ModuleContainer {
    background: var(--BgModul);
    display: flex;
    flex-direction: column;
    width: 816px;
    margin-right: 20px;
    border-radius: 30px;

    .TabButtonSet {
      display: flex;
      flex-direction: row;
    }

    .TabButton {
      color: grey;
      margin-right: 12px;
      padding: 8px;
  
      &:hover:not(.active) {
        color: white;
        background-color: grey;
        cursor: pointer;
      }
  
      &.active {
        background: grey;
        text-transform: capitalize;
        font-weight: 800;
        color: rgb(255, 255, 255);
        cursor: default;
      }
    }

    .ModuleHeader {
      padding: 24px 24px 8px 24px;
      display: flex;
      flex-direction: row;

      .ModuleTitle {
        color: white;
        font-size: 30px;
      }
    }

    .flexColumn {
      flex-direction: column;
    }

    .flexRow {
      flex-direction: row;
    }

    .ModuleContent{
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      column-gap: 12px;
      padding: 24px;
      height: 100%;
      width: 100%;

      input {
        width: 50%;
        // flex-grow: 1;
      }
    }
  }
}