body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  color: var(--white);

  .header {
    height: 97px;
  }

  .generatorsWarp {
    cursor: hand;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      margin-bottom: 20px;
      text-decoration: none;
    }
  }

  & > div,
  & > a {
    margin: 10px 0;
  }
}
