body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2500px;
  background: var(--BgBlack);

  .logoBG {
    position: absolute;
    top: 720px;
    left: 0;
    width: 100%;
    height: var(--VPW);
    z-index: -1;
    background-image: url('./images/logo-bgGlavnaya.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  color: var(--white);

  .quoteDiff {
    position: relative;
    mix-blend-mode: difference;
    top: 360px;
  }

  .genMenu {
    margin-top: 156px;

    .top {
      margin-top: 44px;
    }
  }

  .generatorsList {
    margin-top: 24px;
    cursor: hand;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .buttonToGenerator {
      text-decoration: none;
      border: solid var(--white) 1px;
      padding: 16px 20px;
      font-family: bc-novatica-cyr, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 32px;
      color: var(--white);
      border-radius: 100px;
    }

    .buttonToGenerator:hover {
      background: var(--white);
      color: var(--BgBlack)
    }

    a {
      text-decoration: none;
    }
  }

}
