body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 50px;
    font-weight: 400;
  }
  
  h2 {
    font-size: 42px;
    font-weight: 400;
  }

  .navLandingPage {
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 24px;
  
    font-family: bc-novatica-cyr, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 106px;
    line-height: 106px;
    text-align: center;
  
    .menuButtonActivePage {
      color: var(--white);
      text-decoration: none;
      cursor: default;
      user-select: none;
    }
  
    .menuButton {
      color: var(--BgModul);
      text-decoration: none;
      cursor: pointer;
      user-select: none;
      color: var(--DARK-GREY);
    }
  }
  
  .contentLandingPage {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 24px;
    overflow-x: hidden;
  }

  .logoBG {
    position: absolute;
    top: 720px;
    left: 0;
    width: 100%;
    height: var(--VPW);
    z-index: -1;
    background-image: url('./images/ui/logo-bgGlavnaya.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .logo {
    background-image: url('./images/ui/logo-symbolWithName.svg');
    // background-size: cover;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

  }

  .menu-button-logo {
    display: block;
    width: 594px;
    height: 80px;
  }

  .menuButton:hover {
    color: grey;
  }

  color: var(--TEXT-WHITE);

  .quoteDiff {
    width: 100%;
    position: relative;
    mix-blend-mode: difference;
    margin-bottom: 100px;
    text-align: center;
  }

  .genMenu {
    display: block;
    position: relative;
    margin-top: 156px;
    margin-bottom: 124px;

    .top {
      margin-top: 24px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

      #randomizeBtn {
        border: none;
        box-shadow: none;
        color: var(--TEXT-WHITE);
        background-color: var(--BACKGROUND-BTN-SECONDARY);
        padding: 12px;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
          background-color: var(--BACKGROUND-BTN-HOVER);
        }
      }
  }

  .generatorsList {
    margin-top: 24px;
    cursor: hand;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    .buttonToGenerator {
      text-decoration: none;
      border: solid var(--WHITE) 1px;
      padding: 16px 20px;
      font-family: bc-novatica-cyr, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 32px;
      color: var(--WHITE);
      border-radius: 100px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      justify-content: center;
      align-items: center;

      .arrowRight {
        width: 24px;
        height: 24px;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('images/ui/icons/ArrowBasicRight.svg');
      }
    }

    .buttonToGenerator:hover {
      background: var(--WHITE);
      color: var(--TEXT-BLACK)
    }

  }

  .container {
    display: flex;
    margin: 0 24px;
  }

  .column {
    flex: 1;
    margin-right: 20px;
  }

  .column:last-child {
    margin-right: 0;
  }

  .card {
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    display: block;

    a {
      text-decoration: none;
      color: var(--TEXT-WHITE);
    }
  }

  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    /* Ensures square format */
  }

  .card-content {
    padding: 10px;
  }

  .card-title {
    color: var(--white);
    mix-blend-mode: difference;
    font-size: 16px;
    margin-top: 5px;
  }

  .section-presentation {
    margin-top: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 44px;

    .subsection {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .subsection-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: left;
        width: 560px;

        h1 {
          color: var(--White, #F6F6F6);
          font-family: "BC Novatica CYR";
          font-size: 42px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px; /* 95.238% */
          text-transform: uppercase;
        }
      }

      .image_modules {
        width: 1028px;
        height: 400px;
        background-image: url('./images/ui/modulesExamples-3.png');
    // background-size: cover;
        //background-size: 100% auto;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
      }

      .image_generator {
        width: 768px;
        height: 630px;
        background-image: url('./images/ui/generatorExample-TOCHANGE.png');
    // background-size: cover;
        //background-size: 100% auto;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
      }
    }
  }

  .section-socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 1050px;
    margin-bottom: 300px;

    p {
      width: 380px;
    }

    .socials-buttons {
      display: flex;
      flex-direction: row;
      gap: 16px;

      .button {
        display: flex;
        padding: 13px 12px 16px 20px;
        align-items: center;
        gap: 9px;
        border-radius: 38.285px;
        border: 1px solid var(--White, #F6F6F6);
        width: fit-content;
  
        color: var(--White, #F6F6F6);
        font-family: "BC Novatica CYR";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 100% */
        letter-spacing: -1.08px;
        text-transform: uppercase;
      }
    }
  }

  .teaserFooter {
    padding: 36px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: var(--BACKGROUND-MODULE) 1px solid;
    
    p {
      color: var(--Text-DIM);
      font-size: 16px;
      line-height: 16px;
    }

    .logo-footer {
      width: 370px;
      height: 48px;
    }

    .footer-column {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

}