body.teaserGenerator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--BACKGROUND-WEBSITE-BLACK);
  // background-image: url('./images/ui/maket-teaserPage.jpg');
  // background-position: top center;
  // background-size: cover;
  // background-repeat: no-repeat;

  width: 100vw;
  overflow-x: hidden;

  h1, h2 {
    position: relative;
    text-align: left;
    font-weight: 500;
  }
}

.button {
  display: flex;
  padding: 12px 16px 12px 16px;
  align-items: center;
  border-radius: 60px;
  color: var(--TEXT-WHITE);
  text-align: center;
  font-family: "bc-novatica-cyr";
  border: 1px solid var(--WHITE);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}


span {
  font-style: italic;
  font-weight: 400;
}

.statement {
  color: var(--TEXT-WHITE);
  font-family: "bc-novatica-cyr";
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.logo {
  background-image: url('./images/ui/logo-symbolWithName.svg');
  // background-size: cover;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}


// layout

.teaserContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1800px;
  
  overflow-x: hidden;

  .section-subtitle {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .section-CTA-desktop {
    position: relative;
    align-items: center;
    width: 100%;

    .CTA {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
      #scrollButton {
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid var(--WHITE);

        &:hover {
          color: black;
          background-color: var(--WHITE);
          cursor: pointer;
        }
      }

      .backgroundLogo {
        position: absolute;
        aspect-ratio: 1 / 1;
        max-width: 1707px;
        max-height: 1707px;

        z-index: -1;
        background-image: url('./images/ui/logo-bgGlavnaya.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .subSection-CTA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .subsection-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
  }




  .section-presentation {
    display: flex;
    position: relative;
    width: 100%;

    .subsection {

      #st1 {
        position: relative;
        width: fit-content;
        left: 0;
        top: 0;
      }

      .modulesImage {
        z-index: -1;
        background-image: url('./images/ui/modulesExamples-3.png');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
      }
      
      .generatorImage {
        z-index: -1;
        background-image: url('./images/ui/generatorExample-TOCHANGE.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        //height: auer;
        width: 100vw;
      }
    }
  }

  .section-generator {
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .teaserGenerator-margin{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 44px;

      .teaserGeneratorContainer {
        position: relative;
    
        .generator__content {
    
          .generator__modules-container {
    
            .generator__modules-wrap {

              //new
              .O_Module {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 30px;
                // background-color: var(--BACKGROUND-MODULE-DARKER);
                background-color: var(--BACKGROUND-MODULE);
          
                .M_ModuleHeader {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  padding: 16px;
        
                  .moduleheader_controlsleft {
                    .moduleTitle {
                      color: var(--TEXT-WHITE);
                      font-size: 20px;
                      font-family: "bc-novatica-cyr", sans-serif;
                      font-weight: 500;
                      font-style: normal;
                      text-transform: uppercase;
                      cursor: pointer;
                      display: flex;
                      flex-direction: row;
                      gap: 4px;
                      padding: 4px 0;
                    }
                  }
                }
          
                .moduleContent {
                  display: flex;
                  flex-direction: column;
                  height: 100%;
                  width: 100%;
                  padding: 16px;
                  border-top: 1px solid #383838;
        
                  //.sketch-picker {
                  //  background-color: var( --BACKGROUND-BTN-SECONDARY);
                  //}
          
                  .content_row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;
                  }
          
                  .content_Column {
                    width: 50%;
                  }

                  .M_ColorPicker {
                    position: relative;
                  }

                  .titleText {
                    display: flex;
                    align-items: center;
                    color: var(--TEXT-WHITE);
                    font-family: "neue-haas-unica";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 16px;
                    letter-spacing: -0.5px;
                    //min-width: 91px;
                    min-width: 76px;
                  }

                  .colorPickerText {
                    display: flex;
                    align-items: center;
                    color: var(--TEXT-WHITE);
                    font-family: "neue-haas-unica";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 14px;
                    letter-spacing: -0.5px;
                    min-width: 66px;
                  }

                  .toUpperCase {
                    text-transform: uppercase;
                  }
          
                  .M_Control {
                    display: flex;
                    min-height: 40px;
                    
                    &.row {
                      flex-direction: row;
                      column-gap: 16px;
                      align-items: center;
                    }
                    
                    &.column {
                      flex-direction: column;
                      row-gap: 8px;
                    }
                    
                    &.fullWidth {
                      width: 100%;
                    }
                    
                    .control_Title {
                      display: flex;
                      flex-direction: row;
                      column-gap: 8px;
                      align-items: center;
                    }
                  }
        
                  .M_TabsWithSubControl {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 100%;
        
                    .topControls {
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      gap: 20px;
        
                      .M_Control {
                        width: 50%;
        
                      }
                    }
                  }
          
                  .M_BackgroundContent {
          
                    .BackgroundContent_WithTabs {
                      display: flex;
                      flex-direction: column;
                      row-gap: 16px;
          
                      .BackgroundContent_Tabs {
                        display: flex;
                        flex-direction: row;
                        column-gap: 8px;
                        align-items: center;
                      }
        
                      .row {
                        flex-direction: row;
                      }
                      .column {
                        flex-direction: column;
                      }
                      
                      .BackgroundContent_TabContent {
                        display: flex;
                        gap: 20px;
                        width: 100%;
        
                        .TabContent-column {
                          width: 50%;
                          display: flex;
                          flex-direction: column;
                          gap: 20px;
        
                          .gradientDirection { 
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: fit-content;
                            gap: 12px;
                          }
                        }
        
        
                      }
                    }
          
          
                  }
        
                  .M_VinylContent {
                    display: flex;
                    //flex-direction: column;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;

                    .control_Title {
                      min-height: 40px;
                    }

                    .TabContent-column {
                      flex: 1;
                      display: flex;
                      flex-direction: column;
                      gap: 20px;
                    }
                  }
          
                  .M_LinesContent {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    column-gap: 20px;
        
                    .content_Column {
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      gap: 20px;
                      align-self: stretch;
                    }
                  }
                }
          
                .moduleContent_Background {
                  display: flex;
                  flex-direction: column;
                  row-gap: 16px;
                  height: 100%;
                  padding: 16px;
                  border-top: 1px solid #383838;
          
                  .TabContent {
                    display: flex;
                    flex-direction: row;
                    // align-items: center;
                    column-gap: 12px;
          
                  }
          
                  .moduleContent-Left,
                  .moduleContent-Right {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    width: 50%;
                  }
                }
          
                .gradientColors {
                  display: flex;
                  flex-direction: row;
                  column-gap: 8px;
                  align-items: center;
                }
          
                .ModuleContentBgOnly {
                  background-color: var(--BgModul);
                  display: flex;
                  flex-direction: column;
                  row-gap: 12px;
                  column-gap: 12px;
                  padding: 24px;
                  height: 100%;
                  // width: 100%;
                  border-radius: 0 0 40px 40px;
          
                  .gradientControls {
                    display: flex;
                    flex-direction: row;
                    column-gap: 12px;
                  }
          
                  .gradientColors {
                    display: flex;
                    flex-direction: row;
                    column-gap: 12px;
                  }
                }
          
                .M_BasicTypoContent {
                  display: flex;
                  flex-direction: column;
                  row-gap: 20px;
                  width: 100%;
          
                  .BasicTypo_row {
                    display: flex;
                    flex-direction: row;
                    column-gap: 8px;
        
                    .basicTypo-title {
                      display: flex;
                      align-items: center;
                      color: var(--TEXT-WHITE);
                      font-family: "neue-haas-unica";
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 300;
                      line-height: 16px;
                      letter-spacing: -0.8px;
                      height: 40px;
                      min-width: 60px;
                    }
          
                    .module__basictypo-maintext-controls {
                      display: flex;
                      flex-direction: row;
                      column-gap: 12px;
                    }
                  }
                }
          
                .M_AddRemoveText {
                  display: flex;
                  flex-direction: row;
                  column-gap: 4px;
                  align-items: flex-end;
                  width: 100%;
          
                  .inputStack {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    flex: 1 0 0;
        
                    .removableInput {
                      display: flex;
                      flex-direction: row;
                      align-items: flex-end;
                      gap: 12px;
                    }
                  }
                }
              }
            }
          }
    
          .generator__sketch-wrap {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
    
            .sketch {
              width: 100%;
              aspect-ratio: 1;
              height: auto;
            }
    
            .generator__sketch-controls {
              display: flex;
            }
          }
    
        }
      }
    }

  }

  .section-socials {
    display: flex;
    flex-direction: column;
    gap: 16px;

    #s4 {
      p {
        width: 362px;
      }
  
      .socials-buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }
  }

}

.teaserFooter {
  border-top: solid 1px var(--GREY);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   align-items: center;

   p {
    color: var(--TEXT-DIM);
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.3px;
  }

   .footer-column {
     display: flex;
     flex-direction: column;
     gap: 16px;

    // .logo-footer {
    //   width: 370px;
    //   // width: 100%;
    //   // aspect-ratio: auto;
    //   // height: 100%;
    //   height: 49px;
    // }
  }
  .footer-infos {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 24px;
  }
}