body.teaser-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  background: var(--BACKGROUND-WEBSITE-BLACK);
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh; /* Ensure it fills at least the viewport height */

  h1, h2 {
    position: relative;
    text-align: left;
    font-weight: 500;
  }
}

.button-teaser {
  display: flex;
  padding: 12px 16px 12px 16px;
  align-items: center;
  border-radius: 60px;
  color: var(--TEXT-WHITE);
  text-align: center;
  font-family: "bc-novatica-cyr", sans-serif;
  border: 1px solid var(--WHITE);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.statement {
  color: var(--TEXT-WHITE);
  font-family: "bc-novatica-cyr",sans-serif;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.logo {
  background-image: url('./images/ui/logo-symbolWithName.svg');
  // background-size: cover;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: difference;
  
  &--header {
    // Additional header logo styles if needed
  }
  
  &--footer {
    // Additional footer logo styles if needed
  }
}

// layout
.teaser-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1800px;

  //overflow-x: hidden;

  //.first-screen {
  //  height: 100vh;
  //  width: 100%;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: space-between;
  //  padding: 2% 0 2% 0;

  //  .section--subtitle {
  //    display: flex;
  //    flex-direction: column;
  //    gap: 16px;
  //    mix-blend-mode: difference;
  //  }

  //  .nudge-position {
  //    display: flex;
  //    justify-content: left;
  //    //margin-top: 40px;
  
  //    .nudge {
  //      display: flex;
  //      flex-direction: column;
  //      align-items: center;
  //      //justify-content: center;
  //      mix-blend-mode: difference;
    
  //      .icon {
  //        width: 24px;
  //        height: 24px;
  //      }
  //    }
  //  }
  
  //  .section--cta-desktop {
  //    position: relative;
  //    align-items: center;
  //    justify-content: center;
  //    width: 100%;
  //    //width: 50%;
  
  //    .cta {
  //      position: relative;
  //      display: flex;
  //      align-items: center;
  //      justify-content: center;
        
  //      #scrollButton {
  //        font-style: normal;
  //        font-weight: 400;
  //        text-transform: uppercase;
  //        border: 1px solid var(--WHITE);
  
  //        &:hover {
  //          color: black;
  //          background-color: var(--WHITE);
  //          cursor: pointer;
  //        }
  //      }
  
  //      .background-logo {
  //        position: absolute;
  //        aspect-ratio: 1 / 1;
  //        max-width: 1707px;
  //        max-height: 1707px;
  
  //        z-index: -1;
  //        background-image: url('./images/ui/logo-bgGlavnaya.svg');
  //        background-size: cover;
  //        background-position: center;
  //        background-repeat: no-repeat;
  //      }
  //    }
  //  }
  //}

  .first-screen-desktop {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 0;
    position: relative; /* Ensure proper stacking context */
    
    .teaser-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
      mix-blend-mode: difference;
    }

    .section--subtitle {
      display: flex;
      flex-direction: column;
      gap: 16px;
      mix-blend-mode: difference;
    }
    
    .statement-position {
      width: 100%;
      display: flex;
      justify-content: left;
      flex-direction: column;
      gap: 24px;
    }

    .nudge-position {
      display: flex;
      justify-content: left;
      //margin-top: 40px;
  
      .nudge {
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;
        mix-blend-mode: difference;
    
        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  
    .section--cta-desktop {
      position: relative;
      align-items: center;
      justify-content: center;
      width: 100%;
      //width: 50%;
  
      .cta {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        #scrollButton {
          font-style: normal;
          font-weight: 400;
          text-transform: uppercase;
          border: 1px solid var(--WHITE);
          font-family: "bc-novatica-cy", sans-serif;
  
          &:hover {
            color: black;
            background-color: var(--WHITE);
            cursor: pointer;
          }
        }
  
        //.background-logo {
        //  position: absolute;
        //  aspect-ratio: 1 / 1;
        //  max-width: 1707px;
        //  max-height: 1707px;
  
        //  z-index: -1;
        //  background-image: url('./images/ui/logo-bgGlavnaya.svg');
        //  background-size: cover;
        //  background-position: center;
        //  background-repeat: no-repeat;
        //}
        .background-logo {
          position: absolute;
          aspect-ratio: 1 / 1;
          width: 100vw;
          height: 100vw;
          max-width: 1800px;
          max-height: 1800px;
          //max-width: 1707px;
          //max-height: 1707px;
          background-image: url('./images/ui/logo-bgGlavnaya.svg');
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }



  ////////////////

  .section--presentation {
    display: flex;
    position: relative;
    width: 100%;

    .subsection {

      #st1, #st5 {
        position: relative;
        width: fit-content;
      }

      #st2 {
        position: relative;
        width: fit-content;
        left: 0;
        top: 0;
      }

      .modules-image {
        z-index: -1;
        background-image: url('./images/ui/modulesExamples-3.png');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
      }
      
      .generator-image {
        z-index: -1;
        background-image: url('./images/ui/generatorExampleOk.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        //height: auer;
        width: 100vw;
      }
    }
  }

  .subsection__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
  }

  .section--generator {
    position: relative;
    display: flex;
    //display: none;
    flex-direction: column;
    width: 100%;
    height: auto;

    .teaser-generator-margin {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 44px;

      .teaser-generator-container {
        position: relative;
    
        .generator__content {
    
          .generator__modules-container {
    
            .generator__modules-wrap {

              //new
              .module {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 30px;
                // background-color: var(--BACKGROUND-MODULE-DARKER);
                background-color: var(--BACKGROUND-MODULE);
          
                .module__header {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  padding: 16px;
        
                  .module__header-controls-left {
                    .module-title {
                      color: var(--TEXT-WHITE);
                      font-size: 20px;
                      font-family: "bc-novatica-cyr", sans-serif;
                      font-weight: 500;
                      font-style: normal;
                      text-transform: uppercase;
                      cursor: pointer;
                      display: flex;
                      flex-direction: row;
                      gap: 4px;
                      padding: 4px 0;
                    }
                  }
                }
          
                .module__content {
                  //display: flex;
                  flex-direction: column;
                  height: 100%;
                  width: 100%;
                  padding: 16px;
                  border-top: 1px solid #383838;
        
                  //.sketch-picker {
                  //  background-color: var( --BACKGROUND-BTN-SECONDARY);
                  //}
          
                  .content-row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;
                  }
          
                  .content-column {
                    width: 50%;
                  }

                  .color-picker {
                    position: relative;
                  }

                  .title-text {
                    display: flex;
                    align-items: center;
                    color: var(--TEXT-WHITE);
                    font-family: "neue-haas-unica", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 16px;
                    letter-spacing: -0.5px;
                    //min-width: 91px;
                    min-width: 76px;
                  }

                  .color-picker-text {
                    display: flex;
                    align-items: center;
                    color: var(--TEXT-WHITE);
                    font-family: "neue-haas-unica", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 14px;
                    letter-spacing: -0.5px;
                    min-width: 66px;
                  }

                  .text--uppercase {
                    text-transform: uppercase;
                  }
          
                  .module-control {
                    display: flex;
                    min-height: 40px;
                    
                    &.row {
                      flex-direction: row;
                      column-gap: 16px;
                      align-items: center;
                    }
                    
                    &.column {
                      flex-direction: column;
                      row-gap: 8px;
                    }
                    
                    &.full-width {
                      width: 100%;
                    }
                    
                    .module-control__title {
                      display: flex;
                      flex-direction: row;
                      column-gap: 8px;
                      align-items: center;
                    }
                  }
        
                  .module-tabs-with-subcontrol {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 100%;
        
                    .top-controls {
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      gap: 20px;
        
                      .module-control {
                        width: 50%;
                      }
                    }
                  }
          
                  .background-content {
          
                    &__with-tabs {
                      display: flex;
                      flex-direction: column;
                      row-gap: 16px;
          
                      &-tabs {
                        display: flex;
                        flex-direction: row;
                        column-gap: 8px;
                        align-items: center;
                      }
        
                      &--row {
                        flex-direction: row;
                      }
                      &--column {
                        flex-direction: column;
                      }
                      
                      &-content {
                        display: flex;
                        gap: 20px;
                        width: 100%;
        
                        .tab-content-column {
                          width: 50%;
                          display: flex;
                          flex-direction: column;
                          gap: 20px;
        
                          .gradient-direction { 
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: fit-content;
                            gap: 12px;
                          }
                        }
                      }
                    }
                  }
        
                  .vinyl-content {
                    display: flex;
                    //flex-direction: column;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;

                    .control-title {
                      min-height: 40px;
                    }

                    .tab-content-column {
                      flex: 1;
                      display: flex;
                      flex-direction: column;
                      gap: 20px;
                    }
                  }
          
                  .lines-content {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    column-gap: 20px;
        
                    .content-column {
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      gap: 20px;
                      align-self: stretch;
                    }
                  }
                }
          
                .module__content-background {
                  display: flex;
                  flex-direction: column;
                  row-gap: 16px;
                  height: 100%;
                  padding: 16px;
                  border-top: 1px solid #383838;
          
                  .tab-content {
                    display: flex;
                    flex-direction: row;
                    // align-items: center;
                    column-gap: 12px;
                  }
          
                  .module-content-left,
                  .module-content-right {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    width: 50%;
                  }
                }
          
                .gradient-colors {
                  display: flex;
                  flex-direction: row;
                  column-gap: 8px;
                  align-items: center;
                }
          
                .module-content-bg-only {
                  background-color: var(--BgModul);
                  display: flex;
                  flex-direction: column;
                  row-gap: 12px;
                  column-gap: 12px;
                  padding: 24px;
                  height: 100%;
                  // width: 100%;
                  border-radius: 0 0 40px 40px;
          
                  .gradient-controls {
                    display: flex;
                    flex-direction: row;
                    column-gap: 12px;
                  }
          
                  .gradient-colors {
                    display: flex;
                    flex-direction: row;
                    column-gap: 12px;
                  }
                }
          
                .basic-typo-content {
                  display: flex;
                  flex-direction: column;
                  row-gap: 20px;
                  width: 100%;
          
                  .basic-typo-row {
                    display: flex;
                    flex-direction: row;
                    column-gap: 8px;
        
                    .basic-typo-title {
                      display: flex;
                      align-items: center;
                      color: var(--TEXT-WHITE);
                      font-family: "neue-haas-unica", sans-serif;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 300;
                      line-height: 16px;
                      letter-spacing: -0.8px;
                      height: 40px;
                      min-width: 60px;
                    }
          
                    .module__basictypo-maintext-controls {
                      display: flex;
                      flex-direction: row;
                      column-gap: 12px;
                    }
                  }
                }
          
                .text-manager {
                  display: flex;
                  flex-direction: row;
                  column-gap: 4px;
                  align-items: flex-end;
                  width: 100%;
          
                  &__input-stack {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    flex: 1 0 0;
        
                    &-input {
                      display: flex;
                      flex-direction: row;
                      align-items: flex-end;
                      gap: 12px;
                    }
                  }
                }
              }
            }
          }
    
          .generator__sketch-wrap {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
    
            .sketch {
              width: 100%;
              aspect-ratio: 1;
              //height: auto;
            }
    
            .generator__sketch-controls {
              display: flex;
            }
          }
        }
      }
    }
  }

  .section--socials {
    display: flex;
    flex-direction: column;
    gap: 16px;

    #s6 {
      p {
        width: 362px;
      }
  
      .socials-buttons {
        display: flex;
        flex-wrap: wrap;
        //flex-direction: row;
        gap: 16px;
      }
    }
  }
}

.teaser-footer {
  border-top: solid 1px var(--GREY);
  display: flex;
  //flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 12px;

  p {
    color: var(--TEXT-DIM);
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.3px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  &__infos {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 24px;
  }
}