:root {
  --WHITE:#f6f6f6;
  --GREY: grey;
  --DARK-GREY: #2C2C2C;

  --TEXT-WHITE: #f6f6f6;
  --TEXT-BLACK: black;
  --TEXT-NOTSELECTED: grey;
  --TEXT-DIM: #838383;


  --BACKGROUND-WEBSITE-BLACK: #101010;
  --BACKGROUND-MODULE: #272729;
  --BACKGROUND-MODULE-DARKER: #222222;

  --BACKGROUND-BTN-PRIMARY: white;
  --BACKGROUND-BTN-SECONDARY: #1D1D1D;
  --BACKGROUND-BTN-HOVER: grey;
  --BACKGROUND-BTN-SELECTED: #353537;

  --Btn-greySecondary: #272727;
  --VPW: 100vw;
}
