body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2500px;
  background: var(--BACKGROUND-WEBSITE-BLACK);

  .logoBG {
    position: absolute;
    top: 720px;
    left: 0;
    width: 100%;
    height: var(--VPW);
    z-index: -1;
    background-image: url('./images/ui/logo-bgGlavnaya.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  color: var(--TEXT-WHITE);

  .quoteDiff {
    position: relative;
    mix-blend-mode: difference;
    margin-bottom: 100px;
  }

  .genMenu {
    margin-top: 156px;
    margin-bottom: 124px;

    .top {
      margin-top: 24px;
    }
  }

  .generatorsList {
    margin-top: 24px;
    cursor: hand;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    .buttonToGenerator {
      text-decoration: none;
      border: solid var(--WHITE) 1px;
      padding: 16px 20px;
      font-family: bc-novatica-cyr, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 32px;
      color: var(--WHITE);
      border-radius: 100px;
    }

    .buttonToGenerator:hover {
      background: var(--WHITE);
      color: var(--TEXT-BLACK)
    }

    a {
      text-decoration: none;
    }
  }

  .container {
    display: flex;
    margin: 0 24px;
  }

  .column {
    flex: 1;
    margin-right: 20px;
  }

  .column:last-child {
    margin-right: 0;
  }

  .card {
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    display: block;
  }

  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    /* Ensures square format */
  }

  .card-content {
    padding: 10px;
  }

  .card-title {
    color: var(--white);
    mix-blend-mode: difference;
    font-size: 16px;
    margin-top: 5px;
  }

  // .section {
  //   margin-top: 104px;
  // }

}
