:root {
  --WHITE:#f6f6f6;
  --GREY: grey;

  --TEXT-WHITE: #f6f6f6;
  --TEXT-BLACK: black;
  --TEXT-NOTSELECTED: grey;

  --BACKGROUND-WEBSITE-BLACK: #101010;
  --BACKGROUND-MODULE: #2C2C2C;
  --BACKGROUND-MODULE-DARKER: #222222;

  --BACKGROUND-BTN-PRIMARY: white;
  --BACKGROUND-BTN-SECONDARY: #222222;
  --BACKGROUND-BTN-HOVER: grey;

  --Btn-greySecondary: #272727;
  --VPW: 100vw;
}
