// @media screen and (max-width: 1706px) {
//   .backgroundLogo {
//       height: var(--VPW);
//     }
// }

@media screen and (min-width: 1707px) {
  // .teaserContent {
  //   width: 1707px;
  //   // overflow-x: visible;

  // }
  .backgroundLogo {
    height: 1707px;
  }

}

@media screen and (max-width: 1279px) {
  .teaserGeneratorContainer {
    width: fit-content;
    margin: auto;

    #reactComponentRoot {
      width: fit-content;
    }

    .generator__content {
      flex-direction: column;

      .generator__sketch-wrap { 
        // margin: auto;
        // width: 100%;
        order: 1;
      }

      .generator__modules-wrap {
        // height: fit-content;
        order: 2;
        height: 408px;
        overflow-y: auto;
      }
    }
  }
}

// @media screen and (max-width: 1280px) {

//   .teaserGeneratorContainer {
//     width: fit-content;
//     margin: auto;

//     .generator__content {
//       flex-direction: row;
//     }
//   }
// }

@media (min-width: 1280px) and (max-width: 1500px) {
  #scrollButton {
    font-size: 18px;
    line-height: 18px;

    &:hover {
      color: black;
      background-color: var(--WHITE);
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1501px) {
  #scrollButton {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1280px) {

  #reactComponentRoot {
    width: 100%;
  }

  .generator__content {
    flex-direction: row;
    // height: fit-content;

    .generator__sketch-wrap {
      width: 50%;
    }

    .generator_modules-wrap {
      aspect-ratio: 1 / 1;
    }
  }
}

@media screen and (max-width: 744px) {
  .teaserHeader {
    padding-top: 16px;

    .logo-header {
      width: 362px;
      height: 49px;
    }
  }

  h1 {
    font-size: 18px;
    line-height: 20px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }

  #scrollButton {
    display: none;
  }

  #scrollButton-mobile {
    display: block;
    margin-top: 64px;
  }

  .statement {
    font-size: 35px;
    line-height: 35px;
    // width: 362px;
    width: 100%;
    font-weight: 500;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    // mix-blend-mode: difference;
  }

  .statement-position {
    margin-top: 131px;
  }

  #bg-statement {
    display: block;
    position: absolute;

    position: absolute;
    aspect-ratio: 1 / 1;
  
    z-index: -1;
    background-image: url('./images/ui/logo-bgGlavnaya.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 140vw;
    mix-blend-mode: difference;
  }

  .teaserGeneratorContainer {
    border: none;
    left: -22px;
    width: 100vw;
    background-color: black;
  }

  .generator__modules-wrap {
    display: none;
  }
  .description {
    font-size: 14px;
    line-height: 14px;
    width: 230px;
  }
}

@media screen and (min-width: 744px) {
  .teaserHeader {
    padding-top: 36px;

    .logo-header {
      width: 541px;
      height: 73px;
    }
  }

  #bg-statement {
    display: none;
  }

  #scrollButton-mobile {
    display: none;
  }
  
  .generator__modules-wrap {
    display: flex;
  }
  .teaserGeneratorContainer {
    border: 5px solid var(--BACKGROUND-BTN-SECONDARY);
    background-color: var(--BACKGROUND-WEBSITE-BLACK);
    width: 100%;
    left: 0;
  }
  .generator__sketch-wrap {
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 744px) and (max-width: 1023px) {
  h1 {
    font-size: 24px;
    line-height: 24px;
  }

  p {
    line-height: 22px;
  }
}

@media (min-width: 744px) and (max-width: 810px) {

  #scrollButton {
    font-size: 16px;
    line-height: 16px;
  }

  .section-CTA {
    margin-top: 30%;
  }

  .backgroundLogo {
    height: 140vw;
  }

  .statement {
    font-size: 36px;
    line-height: 36px;
  }

  .statement-position {
    margin-top: 150px;
    // width: 90%;
    width: 728px;
  }

  .section-presentation {
    margin-top: 65%;
  }

  .modulesImage {
    top: 18%;
    left: -115%;
    width: 315%;
  }
  .generatorImage {
    left: -33%;
    width: 135%;
    top: 5%;
  }

  #st2 {
    padding-top: 50%;
  }

  .section-generator {
    margin-top: 180px;
    padding-top: 22px;
  }

  .sketch {
    width: 435px;
  }

  .generator__content{
    // margin: auto;
    justify-content: center;
    align-items: center;
  }

  .generator__sketch-wrap {
    width: fit-content;
  }

  .generator__sketch-controls {
    gap: 44px;
  }

  // .description {
  //   font-size: 14px;
  //   line-height: 14px;
  //   font-weight: 400;
  //   width: 230px;
  // }
}

@media screen and (min-width: 810px) {
  .modulesImage {
    top: 0;
    left: -2%;
    width: 158%;
  }

  .generatorImage {
    top: 0;
    width: 130%;
    left: -30%;
  }

  // .generator__sketch-wrap {
  //   margin: auto;
  // }
  .sketch {
    width: 100%;
  }

  .description {
      font-size: 16px;
      line-height: 20px;
      width: 250px;
  }
}

@media (min-width: 810px) and (max-width: 1023px) {
  #st2 {
    padding-top: 10%;
  }
  .section-presentation {
    margin-top: 60%;
  }

  .section-generator {
    margin-top: 130px;
    padding-top: 22px;
  }

  #s4 h1 {
    width: 450px;
  }

  .footer-infos {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

@media (min-width: 810px) and (max-width: 1279px) {
  // h1 {
  //   font-size: 24px;
  //   line-height: 24px;
  // }

  // p {
  //   line-height: 22px;
  // }
  
  #scrollButton {
    font-size: 16px;
    line-height: 16px;
  }

  .section-CTA {
    margin-top: 30%;
  }

  .backgroundLogo {
    height: 130vw;
  }
  
  .statement {
    font-size: 36px;
    line-height: 36px;
  }

  .statement-position {
    margin-top: 150px;
    // width: 90%;
    width: 728px;
  }

  .subsection {
    p {
      width: 80%;
      min-width: 337px;
    }
  }
}

@media screen and (min-width: 1023px) {

  h1 {
    font-size: 36px;
    line-height: 36px;
  }

  p {
    font-size: 16px;
    line-height: 123%;
  }

  .section-CTA {
    margin-top: 212px;
  }

  .backgroundLogo {
    height: var(--VPW);
  }
  
  .statement {
    font-size: 46px;
    line-height: 46px;
  }
  .statement-position {
    margin-top: 316px;
    width: 1069px;
  }

  .section-presentation {
    margin-top: 50%;
  }

  #st1 {
    p {
      width: 408px;
    }
  }
  #st2 {
    p {
      width: 394px;
    }
  }

  .section-generator {
    margin-top: 222px;
    padding-top: 36px;
  }

  #s4 h1 {
    width: 700px;
  }

  .footer-column {
    width: 50%;
  }

  .footer-infos {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
  }
}
