@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins&display=swap');

#prototype_41 {
  display: flex;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;

  .Container {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

    .Main {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // align-items: center;
      // justify-content: center;
      z-index: 1;
      padding: 20px;

      .Title {
        color: white;
        font-size: 500px;
        font-family: NHU;
        // position: absolute;
        // top: 10px;
        // left: 10px;
        width: 100px;
        line-height: 0.8;
        margin-bottom: 50px;
        z-index: 2;
      }

      .StartButton {
        z-index: 3;
        // position: absolute;
        color: black;
        width: 15%;
        font-size: 100px;
        padding: 10px 40px;
        border-radius: 60px;
        background-color: white;
        cursor: pointer;
        text-align: center;
        margin-bottom: 50px;
      }

      .sketch {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      // .Array {
      //   position: absolute;
      // }
    }

    .Editor {
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: row;

      .CoverFrame {
        border: solid 1px white;
        position: relative;
        vertical-align: middle;
        text-align: center;
        align-items: center;
        justify-content: center;

        // #sketch {
        //   width: 100%;
        //   height: 100%;
        // }

        .wrapper {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          // padding: 20px;

          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          text-align: center;
          vertical-align: middle;
          overflow: hidden;
          flex-direction: column;

          overflow-wrap: break-word;
          word-break: break-word;

          font-size: 400px;
          line-height: 0.9;
          color: white;

          .word {
            width: 100%;
            display: flex;
            vertical-align: middle;
            text-align: center;
            align-items: center;
            justify-content: center;
            overflow-wrap: break-word;
            word-break: break-word;
          }

          .poppins {
            font-family: 'Poppins',
              sans-serif;
          }

          .fasthand {
            font-family: 'Fasthand',
              cursive;
          }

          .NHU {
            font-family: NHU;
          }

          .IMVCR {
            font-family: IMVCR;
          }

          .STATION {
            font-family: STATION;
          }

          .ESENIN {
            font-family: ESENIN;
          }
        }
      }

      .UIframe {
        width: 100%;
        padding: 40px;
        flex-direction: column;

        .Input {
          // position: absolute;
          background-color: transparent;
          color: white;
          border: solid white 1px;
          outline: none;
          width: 100%;
          top: 0;
          // height: 100%;
          text-align: center;
          font-size: 80px;
        }

        .interface {
          width: 100%;
          padding: 40px;
        }
      }

      .SaveButton {
        margin: 10px 0;
        padding: 12px 32px;
        font-size: 50px;
        text-align: center;
        text-transform: capitalize;
        background-color: var(--light-grey);
        color: var(--black);
        cursor: pointer;
        user-select: none;
        border-radius: 25px;
      }

      .SC_ToggleButton {
        margin: 10px 0;
        padding: 12px 32px;
        font-size: 50px;
        text-align: center;
        text-transform: capitalize;
        background-color: var(--light-grey);
        color: var(--black);
        cursor: pointer;
        user-select: none;
        border-radius: 25px;

        &:hover:not(.active) {
          background-color: var(--grey);
        }

        &.active {
          font-weight: 800;
          color: var(--black);
          background-color: var(--dark-green);
          cursor: default;
        }
      }
    }
  }
}